<div class="alpha-label">
  <span class="alpha">alpha</span> This is a new service - your
  <a href="mailto:pensions-alpha-feedback@digital.cabinet-office.gov.uk?Subject=Feedback%20for%20Pension%20Guidance%20Alpha%20Service" target="_top">feedback</a>
  will help improve it
</div>
