<div class="guidance-session">
  <h2 class="heading-small">Guidance session</h2>

  <p>Free and impartial guidance from an expert. Discuss your situation and discover your options.</p>

  <p><a href="/guidance-session" class="bold-xsmall">More</a></p>
</div>
