<div class="pension-tool">
  <h2 class="heading-small">Pension calculator</h2>

  <form action="">
      <label class="form-label" for="pot">Size of pension pots</label>

      £ <input type="text" class="form-control" id="pot" placeholder="e.g. £30,0000">
      <button type="submit" class="button">View</button>
  </form>
</div>
