<div class="inner group related-subsection">
  <div class="guidance-session">
    <h2 class="heading-small">Related information</h2>

    <ul>
      <li>
        <a href="/your-options/overview">What you can do with your pension pot</a>
      </li>
      <li>
        <a href="/edge">Plan how long your money needs to last</a>
      </li>
      <li>
        <a href="/edge">Calculate your retirement income</a>
      </li>
      <li>
        <a href="/understanding-pensions/1">Understand your pension type</a>
      </li>
    </ul>
  </div>
</div>
