<div class="inner group related-subsection">
  <div class="guidance-session">
    <h2 class="heading-small">Related information</h2>

    <ul>
      <li>
        <a href="">Calculate your retirement income</a>
      </li>
      <li>
        <a href="/your-options/overview">Ways to take your pension money</a>
      </li>
      <li>
        <a href="/how-much-in-your-pot">Find out how much you have</a>
      </li>
      <li>
        <a href="https://www.gov.uk/new-state-pension">The new State Pension</a>
      </li>
      <li>
        <a href="https://www.gov.uk/income-tax">Income Tax</a>
      </li>
      <li>
        <a href="/pension-tax-calculator">Pension tax calculator</a>
      </li>
    </ul>
  </div>
</div>
