<div class="inner group related-subsection">
  <div class="guidance-session">
    <h2 class="heading-small">Related information</h2>

    <ul>
      <li>
        <a href="/tax-on-your-pension/1">Tax you pay on your pension</a>
      </li>
      <li>
        <a href="/your-options/overview">What you can do with your pension pot</a>
      </li>
    </ul>
  </div>
</div>
