<div class="inner group related-subsection">
  <div class="guidance-session">
    <h2 class="heading-small">Related information</h2>

    <ul>
      <li>
        <a href="/edge">Calculate your retirement income</a>
      </li>
      <li>
        <a href="/your-options/overview">What you can do with your pension pot</a>
      </li>
      <li>
        <a href="/how-much-in-your-pot">Check the value of your pension pot</a>
      </li>
      <li>
        <a href="https://www.gov.uk/new-state-pension">The new State Pension</a>
      </li>
      <li>
        <a href="https://www.gov.uk/income-tax">Income Tax</a>
      </li>
    </ul>
  </div>
</div>
