<% content_for :page_title do %>
  An article
<% end %>

<p>Donec elementum interdum nisi eu interdum. Vestibulum imperdiet quam pharetra dui
ornare hendrerit. Nullam ultricies vestibulum risus, ac euismod nisl vestibulum
sed. Morbi vitae bibendum mauris. Aenean condimentum feugiat sapien, quis
vulputate ipsum euismod vel. Duis non magna pellentesque, pretium purus eu,
laoreet ante. Nam rhoncus viverra varius.</p>

<p>Quisque in odio ac erat scelerisque efficitur sit amet et tellus. Integer
finibus nulla et mi rhoncus, ac pharetra tortor blandit. Nulla sed dictum est.
Pellentesque convallis ex enim, id mattis est blandit quis. Nulla euismod
dignissim ex, nec pretium lectus. Etiam iaculis dapibus pretium. Integer blandit
tellus id luctus congue.</p>
