<% content_for :page_title do %>
  An article
<% end %>


<div class="grid-wrapper grid-demo">
  <div class="grid grid-2-3">
    <div class="inner-block">
      <article role="article" class="group">
        <p>Donec elementum interdum nisi eu interdum. Vestibulum imperdiet quam
          pharetra dui ornare hendrerit. Nullam ultricies vestibulum risus, ac
          euismod nisl vestibulum
          sed. Morbi vitae bibendum mauris. Aenean condimentum feugiat sapien, quis
          vulputate ipsum euismod vel. Duis non magna pellentesque, pretium purus
          eu,
          laoreet ante. Nam rhoncus viverra varius.</p>

        <h2>Pharetra tortor blandit</h2>
        <p>Quisque in odio ac erat scelerisque efficitur sit amet et tellus. Integer
          finibus nulla et mi rhoncus, ac pharetra tortor blandit. Nulla sed dictum
          est.
          Pellentesque convallis ex enim, id mattis est blandit quis. Nulla euismod
          dignissim ex, nec pretium lectus. Etiam iaculis dapibus pretium. Integer
          blandit
          tellus id luctus congue.</p>

        <h2>Pharetra tortor blandit</h2>
        <p>Quisque in odio ac erat scelerisque efficitur sit amet et tellus. Integer
          finibus nulla et mi rhoncus, ac pharetra tortor blandit. Nulla sed dictum
          est.
          Pellentesque convallis ex enim, id mattis est blandit quis. Nulla euismod
          dignissim ex, nec pretium lectus. Etiam iaculis dapibus pretium. Integer
          blandit
          tellus id luctus congue.</p>

        <h2>Pharetra tortor blandit</h2>
        <p>Quisque in odio ac erat scelerisque efficitur sit amet et tellus. Integer
          finibus nulla et mi rhoncus, ac pharetra tortor blandit. Nulla sed dictum
          est.
          Pellentesque convallis ex enim, id mattis est blandit quis. Nulla euismod
          dignissim ex, nec pretium lectus. Etiam iaculis dapibus pretium. Integer
          blandit
          tellus id luctus congue.</p>
      </article>
    </div>
  </div>
  <div class="grid grid-1-3">
    <div class="inner-block">
      <h2 class="heading-small">Consider speaking to someone...</h2>
      <p>Would you like a face-to-face or phone session to find out more about your options?</p>
      <p><a href="/guidance-session">Book a session</a></p>
    </div>
  </div>
</div>

<div class="meta-data group">
  <p class="modified-date">Last updated: 16 September 2014</p>
</div>
