<% content_for :page_title do %>
  Deciding how you want your pension to be paid
<% end %>


<div class="grid-wrapper grid-demo">
  <div class="grid grid-2-3">
    <div class="inner-block">
      <article role="article" class="group">
        <p>You can decide how to take the money from your pension pot when you retire.
          It doesn’t matter if your pot comes from a private pension that you set up yourself,
          a workplace pension you paid into, or both.</p>

        <p>To decide how you want your pension to be paid you should think about the following:</p>

        <ol class="steps">
          <li>How much do I have in my pot?</li>
          <li>How much will I need in retirement?</li>
          <li>How can I best use my money?</li>
        </ol>


        <p>There are different ways you can take the money from your pension pot.</p>

        <p>You can:</p>

        <ul>
          <li>take part or all of your pension pot as cash (lump sum)</li>
          <li>keep your pot invested while taking money from it (income drawdown)</li>
          <li>buy a regular income (annuity)</li>
        </ul>


        <p>You can use a mixture of all 3 if you want.</p>

        <h2>Taking cash</h2>

        <p>You can take 25% of your pension pot as a tax-free lump sum. You have to be at least 55 to do this.</p>

        <p>Once you've taken a lump sum you can't change this decision. You should think about what you’ll use the cash for and make sure you’ll have enough money for the coming years of your retirement.</p>

        <p>If you take your whole pension pot as cash you might have to pay higher tax, depending on how much other income you have.</p>

        <h2>Taking money out when you need it</h2>

        <p>You can leave your pension pot invested and take money out when you need it. This is called 'income drawdown'. Your pension provider will invest the pot, for example in stocks and shares, and you tell them when you need money and how much.</p>

        <p>Any money you take from your pension as <a href="#insert_url">income drawdown is taxed</a>.</p>

        <h2>Buying a regular income</h2>

        <p>You can use your pension pot to buy a regular income for the rest of your life. This is called an annuity. You buy it from an insurance company, for example like you would buy life insurance.</p>

        <p>You hand over your pension pot to them and they guarantee you a regular income until you die, even if your pension pot runs out of money.</p>

        <p>Once you've bought your annuity your can't change this decision.</p>

        <p>How much money you get depends on things like:</p>

        <ul>
          <li>how much you have in your pension pot</li>
          <li>your age and gender</li>
          <li>interest rates</li>
          <li>your health and lifestyle</li>
        </ul>


        <p>You <a href="#insert_url">pay tax on payments from your annuity</a>, just like you do on your salary.</p>

        <p>You can also buy an annuity that’s only for a fixed amount of years.</p>

        <p>If you want to pass your annuity payments on to your spouse or partner you'll have to buy a joint annuity. This means that payments during your lifetime will be lower.</p>

        <div class="example">
          <p><strong>Example: mixing your options</strong></p>

          <p>You could mix these options at different points in your retirement.</p>

          <p>Your pension pot is £60,000. You decide to take 25% as tax-free cash = £15,000.</p>

          <p>You then use £20,000 to buy an annuity. This will give you an income for the rest of your life of about £900 a year.</p>

          <p>You leave £25,000 invested and take out about £5,000 a year for about 5 years.</p>
        </div>

        <p>To help you decide which option best suits your circumstances you can
          <a href="/guidance-session">set up a guidance appointment</a>.</p>
      </article>
    </div>
  </div>
</div>

<div class="meta-data group">
  <p class="modified-date">Last updated: 16 September 2014</p>
</div>
