<% content_for :page_title do %>
  Deciding how you want your pension to be paid
<% end %>


<div class="grid-wrapper grid-demo">
  <div class="grid grid-2-3">
    <div class="inner-block">
      <article role="article" class="group">
        <p>You can decide how to take the money from your pension pot when you retire.
          It doesn’t matter if your pot comes from a private pension that you set up yourself,
          a workplace pension you paid into, or both.</p>

        <p>To decide how you want your pension to be paid you should think about the following:</p>

        <ol class="steps">
          <li>How much do I have in my pot?</li>
          <li>How much will I need in retirement?</li>
          <li>How can I best use my money?</li>
        </ol>


        <p>There are different ways you can take the money from your pension pot.</p>

        <p><a href="/your-options/overview" class="bold-xsmall">More</a></p>
      </article>
    </div>
  </div>
</div>

<div class="meta-data group">
  <p class="modified-date">Last updated: 16 September 2014</p>
</div>
