<% content_for :proposition do %>
  <%= erb :"partials/proposition" %>
<% end %>

<% content_for :page_title do %>
  You’ve successfully booked a pension guidance session
<% end %>

<article role="article" class="group">
  <div class="inner-block text">
    <h2 class="heading-small">What you need to do next</h2>

    <p>At least 2 weeks before your session send an email to
      <a href="mailto:pensions-guidance@hmt.gov.uk">pensions-guidance@hmt.gov.uk</a></p>

    <p>Include the following information:</p>
    <ul class="list-bullet">
      <li>your name, age, gender</li>
      <li>how much money you have in your pension pot</li>
      <li>how much other income you have, eg from work, property, investments</li>
      <li>if you have a spouse or partner</li>
      <li>if you have any children</li>
    </ul>

    <p>This will help our experts to prepare for your call.</p>

    <h2 class="heading-small">How to cancel</h2>
    <p>Send an email with your name and the date and time of your session to:
      <a href="mailto:cancel-pension-session@hmt.gov.uk">cancel-pension-session@hmt.gov.uk</a></p>

  </div>
</article>
