<% content_for :page_title do %>
  Check your request
<% end %>

<article role="article" class="group">
  <div class="inner-block">
    <h2>Your details</h2>
    <p>Name: foo</p>
    <p>Email: foo@bah.com</p>
    <p>Phone: 07813 123456</p>
    <p><a href="/contact-details">Change your details</a></p>

    <h2>Your Session</h2>
    <p>Date: foo</p>
    <p><a href="/book-a-session">Change your session</a></p>

    <a href="/request-sent" class="button">Send request</a>

  </div>
</article>
