<% content_for :page_title do %>
  Your contact details
<% end %>

<div class="inner-block">
  <form action="/contact-details" method="post" class="form">
    <div class="form-group">
      <label class="form-label-bold" for="name">First name</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>

    <div class="form-group">
      <label class="form-label-bold" for="surname">Last name</label>
      <input type="text" class="form-control" id="surname" name="surname">
    </div>

    <div class="form-group">
      <label class="form-label-bold" for="full-name">Email</label>
      <p class="form-hint">We will send you a reminder of your session details.</p>
      <input type="text" class="form-control" id="email" name="email">
    </div>

    <div class="form-group">
      <label class="form-label-bold" for="full-name">Phone</label>
      <p class="form-hint">This is the phone number we will call you on.</p>
      <input type="text" class="form-control" id="phone" name="phone">
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>
  </form>
</div>
