<% content_for :page_title do %>
    You have reached the edge of this prototype
<% end %>

<div class="grid-wrapper grid-demo">
  <div class="inner-block">
    <p><a href="https://www.youtube.com/watch?v=aNV1Q--R7-A">Try this</a></p>
  </div>
</div>
