<% content_for :page_title do %>
  Find a local guidance branch
<% end %>


<div class="inner-block">

  <p class="text">
    Enter a postcode to find the nearest branch.
  </p>

  <form action="/local-branch-results" method="get" class="form">
    <div class="form-group">
      <label class="form-label-bold" for="full-name">Post code</label>
      <input type="text" class="form-control-1-8" id="postcode" name="postcode">
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Search">
    </div>
  </form>

</div>

