<% content_for :page_title do %>
  Find a local branch
<% end %>

<article role="article" class="group">
  <div class="inner-block">
      <div class="text">
        <p>Enter your post code below and we will find your nearest locations for a face to face session.</p>
      </div>
  </div>
</article>
