<% content_for :page_title do %>
  Book a pension guidance session
<% end %>

<article role="article" class="group">
  <div class="inner-block text">
    <p>Guidance sessions are free. You’ll talk to an experienced pension expert
      who will give you guidance about how to best use the money in your pension
      pot.</p>

    <p>At the end of the session you’ll get a summary email.
      Our experts don’t recommend any companies. Any guidance
      you get is impartial. </p>

    <h2 class="heading-medium">Who can book a session</h2>

    <p>You can book a session if:</p>

    <ul>
      <li>you’re planning to take money from your pension pot in the next 6 months</li>
      <li>you have a pension based on how much has been paid into your pot</li>
      <li>you’re close to or over 55</li>
    </ul>

    <p class="get-started">
      <a rel="nofollow" href="/session-type" class="big button">Start now</a>
    </p>

    <br/>

    <p>Otherwise, you can get guidance from:</p>
    <ul>
      <li><a rel="external" href="http://www.pensionsadvisoryservice.org.uk/">The
        Pensions Advisory Service</a></li>
      <li>
        <a rel="external" href="https://www.moneyadviceservice.org.uk/en?roptin=1">The
          Money Advice Service</a></li>
    </ul>
  </div>
</article>

