<% content_for :page_title do %>
  Session Input
<% end %>

<p>Filling out the following details will ensure you get the most from your session</p>

<h2 class="heading-large">Personal details</h2>

<div class="form-group">
  <label class="form-label-bold" for="insert">Full name</label>
  <input type="text" class="form-control" id="insert">
</div>

<div class="form-group">
  <label class="form-label-bold" for="insert">Age</label>
  <input type="text" class="form-control" id="insert">
</div>

<div class="form-group">
  <fieldset class="inline">
    <legend class="form-label-bold">Gender</legend>

    <label for="radio-inline-1" class="block-label">
      <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Male">
      Male
    </label>
    <label for="radio-inline-2" class="block-label">
      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="Female">
      Female
    </label>
  </fieldset>
</div>

<div class="form-group">
  <fieldset class="">
    <legend class="form-label-bold">Marital Status</legend>

    <label for="radio-inline-1" class="block-label">
      <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Male">
      Married
    </label>
    <label for="radio-inline-2" class="block-label">
      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="Female">
      Widowed
    </label>
    <label for="radio-inline-2" class="block-label">
      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="Female">
      Separated
    </label>
    <label for="radio-inline-2" class="block-label">
      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="Female">
      Divorced
    </label>
    <label for="radio-inline-2" class="block-label">
      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="Female">
      Single
    </label>
  </fieldset>
</div>


<div class="form-group">
  <fieldset class="">
    <legend class="form-label-bold">Dependants</legend>

    <label for="radio-inline-1" class="block-label">
      <input id="radio-inline-1" type="checkbox" name="radio-inline-group" value="Male">
      Spouse
    </label>
    <label for="radio-inline-1" class="block-label">
      <input id="radio-inline-1" type="checkbox" name="radio-inline-group" value="Male">
      Children
    </label>
    <label for="radio-inline-2" class="block-label">
      <input id="radio-inline-2" type="checkbox" name="radio-inline-group" value="Female">
      Parents
    </label>
  </fieldset>
</div>


<div class="form-group">
  <fieldset class="">
    <legend class="form-label-bold">Employment Status</legend>

    <label for="radio-inline-1" class="block-label">
      <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Male">
      Employed
    </label>
    <label for="radio-inline-1" class="block-label">
      <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Male">
      Self Employed
    </label>
    <label for="radio-inline-2" class="block-label">
      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="Female">
      Un-employed
    </label>
  </fieldset>
</div>

<div class="form-group">
  <label class="form-label-bold" for="insert">Current Income</label>
  £ <input type="text" class="form-control" id="insert">
</div>

<div class="form-group">
  <fieldset>
    <legend class="form-label-bold">Tax Status</legend>

    <label for="radio-inline-1" class="block-label">
      <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Male">
      Non-tax payer
    </label>
    <label for="radio-inline-2" class="block-label">
      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="Female">
      Basic rate tax payer
    </label>
    <label for="radio-inline-2" class="block-label">
      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="Female">
      Higher rate tax payer
    </label>
    <label for="radio-inline-2" class="block-label">
      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="Female">
      Additional Higher rate tax payer
    </label>
  </fieldset>
</div>

<fieldset class="group">
  <legend class="form-label-bold">Savings and Assets</legend>

  <div class="form-group">
    <label class="form-label-bold" for="insert">Savings
    <span class="form-hint">
       Includes ISAs, premium bonds
            </span>
    </label>
    £ <input type="text" class="form-control" id="insert">
  </div>

  <div class="form-group">
    <label class="form-label-bold" for="insert">Stocks and shares</label>
    £ <input type="text" class="form-control" id="insert">
  </div>

  <div class="form-group">
    <label class="form-label-bold" for="insert">Property</label>
    £ <input type="text" class="form-control" id="insert">
  </div>

  <div class="form-group">
    <label class="form-label-bold" for="insert">Other</label>
    £ <input type="text" class="form-control" id="insert">
  </div>
</fieldset>


<fieldset class="group">
  <legend class="form-label-bold">Debts</legend>

<div class="form-group">
  <label class="form-label-bold" for="insert">Mortgage</label>
  £ <input type="text" class="form-control" id="insert">
</div>

  <div class="form-group">
    <label class="form-label-bold" for="insert">Credit Cards</label>
    £ <input type="text" class="form-control" id="insert">
  </div>

  <div class="form-group">
    <label class="form-label-bold" for="insert">Loans</label>
    £ <input type="text" class="form-control" id="insert">
  </div>

  <div class="form-group">
    <label class="form-label-bold" for="insert">Other</label>
    £ <input type="text" class="form-control" id="insert">
  </div>

</fieldset>


<h2 class="heading-large">Pension details</h2>

<fieldset class="group">
  <legend class="form-label-bold">Defined Contribution 1</legend>

  <div class="form-group">
    <label class="form-label-bold" for="insert">Value</label>
    £ <input type="text" class="form-control" id="insert">
  </div>

  <fieldset class="inline">
    <legend class="form-label-bold">Guaranteed annuity</legend>

    <label for="radio-inline-1" class="block-label">
      <input id="radio-inline-1" type="checkbox" name="radio-inline-group" value="Male">
      Yes
    </label>
    <label for="radio-inline-1" class="block-label">
      <input id="radio-inline-1" type="checkbox" name="radio-inline-group" value="Male">
      No
    </label>
  </fieldset>

  <div class="form-group">
    <label class="form-label-bold" for="insert">Guaranteed annuity rate</label>
    % <input type="text" class="form-control" id="insert">
  </div>

  <fieldset class="inline">
    <legend class="form-label-bold">Surrender penalty?</legend>

    <label for="radio-inline-1" class="block-label">
      <input id="radio-inline-1" type="checkbox" name="radio-inline-group" value="Male">
      Yes
    </label>
    <label for="radio-inline-1" class="block-label">
      <input id="radio-inline-1" type="checkbox" name="radio-inline-group" value="Male">
      No
    </label>
  </fieldset>
</fieldset>

<fieldset class="group">
  <legend class="form-label-bold">Defined Contribution 2</legend>

  <div class="form-group">
    <label class="form-label-bold" for="insert">Value</label>
    £ <input type="text" class="form-control" id="insert">
  </div>

  <fieldset class="inline">
    <legend class="form-label-bold">Guaranteed annuity</legend>

    <label for="radio-inline-1" class="block-label">
      <input id="radio-inline-1" type="checkbox" name="radio-inline-group" value="Male">
      Yes
    </label>
    <label for="radio-inline-1" class="block-label">
      <input id="radio-inline-1" type="checkbox" name="radio-inline-group" value="Male">
      No
    </label>
  </fieldset>

  <div class="form-group">
    <label class="form-label-bold" for="insert">Guaranteed annuity rate</label>
    % <input type="text" class="form-control" id="insert">
  </div>

  <fieldset class="inline">
    <legend class="form-label-bold">Surrender penalty?</legend>

    <label for="radio-inline-1" class="block-label">
      <input id="radio-inline-1" type="checkbox" name="radio-inline-group" value="Male">
      Yes
    </label>
    <label for="radio-inline-1" class="block-label">
      <input id="radio-inline-1" type="checkbox" name="radio-inline-group" value="Male">
      No
    </label>
  </fieldset>
</fieldset>

<fieldset class="group">
  <legend class="form-label-bold">Defined Contribution 3</legend>

  <div class="form-group">
    <label class="form-label-bold" for="insert">Value</label>
    £ <input type="text" class="form-control" id="insert">
  </div>

  <fieldset class="inline">
    <legend class="form-label-bold">Guaranteed annuity</legend>

    <label for="radio-inline-1" class="block-label">
      <input id="radio-inline-1" type="checkbox" name="radio-inline-group" value="Male">
      Yes
    </label>
    <label for="radio-inline-1" class="block-label">
      <input id="radio-inline-1" type="checkbox" name="radio-inline-group" value="Male">
      No
    </label>
  </fieldset>

  <div class="form-group">
    <label class="form-label-bold" for="insert">Guaranteed annuity rate</label>
    % <input type="text" class="form-control" id="insert">
  </div>

  <fieldset class="inline">
    <legend class="form-label-bold">Surrender penalty?</legend>

    <label for="radio-inline-1" class="block-label">
      <input id="radio-inline-1" type="checkbox" name="radio-inline-group" value="Male">
      Yes
    </label>
    <label for="radio-inline-1" class="block-label">
      <input id="radio-inline-1" type="checkbox" name="radio-inline-group" value="Male">
      No
    </label>
  </fieldset>
</fieldset>

<fieldset class="group">
  <legend class="form-label-bold">Defined Benefit</legend>

  <div class="form-group">
    <label class="form-label-bold" for="insert">Pension Lump Sum</label>
    £ <input type="text" class="form-control" id="insert">
  </div>

  <div class="form-group">
    <label class="form-label-bold" for="insert">Pension Per Annum</label>
    £ <input type="text" class="form-control" id="insert">
  </div>
</fieldset>

<div class="form-group">
  <label class="form-label-bold" for="email">Outline of partners pension provision</label>
  <textarea name="input-feedback" id="input-feedback" class="form-control"></textarea>
</div>

<div class="form-group">
  <label class="form-label-bold" for="insert">State Pension Estimate</label>
  £ <input type="text" class="form-control" id="insert">
</div>


<div class="form-group">
  <label class="form-label-bold" for="email">Health</label>
  <span class="form-hint">
   Do you have any health issues or lifestyle choices that may affect your pension decision?
            </span>
  <textarea name="input-feedback" id="input-feedback" class="form-control"></textarea>
</div>

<div class="form-group">
  <label class="form-label-bold" for="insert">Income requirements during
    retirement</label>
  £ <input type="text" class="form-control" id="insert">
</div>

<div class="form-group">
  <label class="form-label-bold" for="email">Retirement Plans</label>
  <textarea name="input-feedback" id="input-feedback" class="form-control"></textarea>
</div>

<div class="form-group">
  <fieldset class="inline">
    <legend class="form-label-bold">Contact Preferences</legend>

    <label for="radio-inline-1" class="block-label">
      <input id="radio-inline-1" type="checkbox" name="radio-inline-group" value="Male">
      Post
    </label>
    <label for="radio-inline-1" class="block-label">
      <input id="radio-inline-1" type="checkbox" name="radio-inline-group" value="Male">
      Email
    </label>
  </fieldset>
</div>
