<% content_for :proposition do %>
  <%= erb :"partials/proposition_static" %>
<% end %>

<% content_for :page_title do %>
  Pensionwise
<% end %>

<% content_for :page_type do %>
  homepage-b
<% end %>


<div class="inner-block text">
  <p>You’ll get the most from of this service if:</p>
  
  <ul class="list-bullet">
    <li>you’re planning to take money from your pension pot in the next 6 months</li>
    <li>you have a pension based on how much has been paid into your pot</li>
    <li>you’re close to or over 55</li>
  </ul>
</div>

<div class="grid-wrapper border-bottom">
  <div class="grid grid-1-2">
    <div class="inner-block">
      <img src="/images/placeholder.png" alt=""/>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block">
      <h2 class="heading-small">Talk to an expert</h2>
      
      <p>This service gives information on your pension pot options and how they
        work. You’ll have the option of speaking to a pensions expert who will
        give you guidance about how best to take money from your pension pot. </p>

      <p>All guidance sessions are free and available over the phone or face to face.</p>

      <p>
        <a rel="nofollow" href="/session-type" class="button button-get-started">How guidance sessions work</a>
      </p>
    </div>
  </div>
</div>

<div class="inner-block">
  <h2 class="heading-medium">Pension guides</h2>
</div>

<div class="grid-wrapper border-bottom">
  <div class="grid grid-1-4">
    <div class="inner-block">
      <h3 class="heading-small"><a href="/browse/your-pension-pot">Your pension pot</a></h3>
      <p>There are 2 main types of pension. How much you get depends on things
        such as the amount you’ve paid in and your age when you started it.</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    <div class="inner-block">
      <h3 class="heading-small"><a href="/browse/your-pension-options">Your pension options</a></h3>
      <p>There are different ways you can take the money from your pension pot
        when you retire. You’ll pay tax on everything above your tax-free lump sum of 25%.</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    <div class="inner-block">
      <h3 class="heading-small"><a href="/browse/your-retirement-income">Your retirement income</a></h3>
      <p>Calculate how much you need in retirement based on your total income</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    <div class="inner-block">
      <h3 class="heading-small"><a href="/browse/pension-scams-and-complaints">Pension scams and complaints</a></h3>
      <p>Find out what pension scams look like, what financial protection you
        have and who you can make a complaint to</p>
    </div>
  </div>
</div>

<!-- Tools  -->
<div class="inner-block text">
  <h2 class="heading-medium">Tools</h2>
</div>

<div class="grid-wrapper border-bottom">
  <div class="grid grid-1-4">
    <div class="inner-block">
      <h3 class="heading-small"><a href="#insert">Your pension profile</a></h3>
      <p>Build up a full picture of your pension details</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    <div class="inner-block">
      <h3 class="heading-small"><a href="/pension-tax-calculator">Pension tax calculator</a></h3>
      <p>Find out how much tax you pay if you take all of your pension pot in one go</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    <div class="inner-block">
      <h3 class="heading-small"><a href="#insert">Compare annuities</a></h3>
      <p>Shop around for the best annuity rates and compare providers</p>
    </div>
  </div>
  <div class="grid grid-1-4">
    <div class="inner-block">
      <h3 class="heading-small"><a href="#insert">Find a financial adviser</a></h3>
      <p>Find a financial adviser registered with the Financial Conduct Authority</p>
    </div>
  </div>
</div>

<!-- Further resources  -->
<div class="inner-block text">
  <h2 class="heading-medium">Further resources</h2>
</div>

<div class="grid-wrapper border-bottom">
  <div class="grid grid-1-2">
    <div class="inner-block">
      <ul>
        <li>
          <a href="http://www.citizensadvice.org.uk/">Citizens Advice Bureau</a>
        </li>
        <li>
          <a href="http://www.cas.org.uk/">Citizens Advice Scotland</a>
        </li>
        <li>
          <a href="http://www.citizensadvice.co.uk/">Citizens Advice Northern Ireland</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block">
      <ul>
        <li>
          <a href="http://www.pensionsadvisoryservice.org.uk/">The Pensions Advisory Service</a>
        </li>
        <li>
          <a href="https://www.moneyadviceservice.org.uk/en">The Money Advice Service</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- About Pensionwise  -->
<div class="inner-block text">
  <h2 class="heading-medium">About Pensionwise</h2>
  <p>Pensionwise is a free government service which helps you understand what
    you can do with your pension pot when you retire. The service gives the
    option of speaking to a pensions expert who will give you guidance about
    how best to use your pension pot.</p>
</div>



