<% content_for :page_title do %>
  Book a pension guidance session
<% end %>

<p>This service helps you understand what to do with your pension pot when you want to retire.</p>

<p>You can get a free guidance session if:</p>

<ul>
  <li>you want to retire in the next 6 months</li>
  <li>you have a pension based on how much you've paid into your pot</li>
  <li>you're close to or over 55</li>
</ul>

<p class="get-started">
  <a rel="nofollow" href="#started" class="big button">Start now</a>
</p>

<br/>

<p>Otherwise, you can get advice from:</p>
<ul>
  <li><a rel="external" href="http://www.pensionsadvisoryservice.org.uk/">The Pensions Advisory Service</a></li>
  <li><a rel="external" href="https://www.moneyadviceservice.org.uk/en?roptin=1">The Money Advice Service</a></li>
</ul>



