<h2 id="new-pensions-rules">
  <span class="number">1. </span>
  New pensions rules
</h2>

<p>Pensions will change in April 2015. If you’re over 55 and have a pension based on how much has been paid into your pot, you’ll be able to take money from your pension however you wish.</p>

<p>How you receive your money in retirement will be your decision.</p>


<h2 id="the-guidance-guarantee">
  <span class="number">2. </span>
  The Guidance Guarantee
</h2>

<p>The government is setting up a guidance service to help people understand what they can do with their pension pots when they retire. The service is free and will give information on what your choices are and how they work.</p>

<p>You’ll have the option of speaking to an experienced pensions expert who will give you guidance about how best to use your pension pot. You’ll be able to do this over the phone or face to face.</p>

<p>The guidance sessions are free and impartial. Our experts won’t recommend any products or companies.</p>

<p>The service will tell you about:</p>

<ul>
  <li>the different pension types and how they work</li>
  <li>what you can do with your pension pot</li>
  <li>what’s tax-free and what’s not</li>
</ul>

<h2 id="coming-soon">
  <span class="number">3. </span>
  Coming soon
</h2>

<p>This service is coming soon. Check back to keep up to date with our progress.</p>

<p>In the meantime, you can get information about pensions from the organisations below:</p>

<ul>
  <li>
    <a rel="external" href="http://www.pensionsadvisoryservice.org.uk">The Pensions Advisory Service</a> - an independent service which provides free information and guidance on all pension matters</li>
  <li>
    <a rel="external" href="https://www.moneyadviceservice.org.uk/en">The Money Advice Service</a> - an independent service set up by government to help people manage their money better</li>
</ul>

