<% content_for :page_title do %>
  Pensionwise
<% end %>

<% content_for :page_type do %>
  homepage
<% end %>

<div class="grid-wrapper">
  <div class="pensions-are-changing">
    <div class="grid grid-2-3">
      <div class="inner-block">
          <img src="/images/placeholder.png" alt="">
      </div>
    </div>
    <div class="grid grid-1-3">
      <div class="inner-block">
        <h2 class="heading-medium margin-top-none">Pensions are changing</h2>

        <p>From April 2015 you'll have more freedom over how you take money from
          your
          pension pot.</p>

        <p>You can do this <strong>if you're over 55</strong> and have a pension
          based on
          how much has been paid into your pot (a
          <strong>defined contribution</strong> pension).</p>

      </div>
    </div>
  </div>
</div>

<div class="inner-block text margin-top-extra">
  <h2 class="heading-medium margin-top-none">Read online guides</h2>
</div>

<div class="grid-wrapper">
  <div class="grid grid-1-2">
    <div class="inner-block">
      <p>You now have more options when you come to take money from your pension
        pot. These guides will help you understand which options might be best
        for you.</p>

      <p>You can also use the
        <a href="/pension-tax-calculator">pension tax calculator</a> to
        show you how much tax you pay if you cash in your whole pot.</p>
    </div>
  </div>
</div>

<!-- category 1 -->
<div class="grid-wrapper margin-top-extra">
  <div class="grid grid-1-2">
    <div class="inner-block">
      <h3 class="heading-small">Your pension pot</h3>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block">
      <h4 class="heading-small grey-text">In this section</h4>
      <ul>
        <li><a href="/understanding-pensions/1">Understand your pension type</a>
        </li>
        <li><a href="how-much-in-your-pot">Find out how much you have</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- category 2 -->
<div class="grid-wrapper">
  <div class="grid grid-1-2">
    <div class="inner-block">
      <h3 class="heading-small">Your pension options</h3>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block">
      <h4 class="heading-small grey-text">In this section</h4>
      <ul>
        <li><a href="/your-options/overview">Ways to take your pension money</a>
        </li>
        <li><a href="/tax-on-your-pension/1">Tax you pay on your pension</a>
        </li>
        <li><a href="/pension-tax-calculator">Pension tax calculator</a></li>
        <li><a href="/edge">Shop around for the best deal</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- category 3 -->
<div class="grid-wrapper">
  <div class="grid grid-1-2">
    <div class="inner-block">
      <h3 class="heading-small">Your retirement income</h3>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block">
      <h4 class="heading-small grey-text">In this section</h4>
      <ul>
        <li><a href="/edge">Calculate your retirement income</a></li>
        <li><a href="/edge">Plan how long your money needs to last</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- category 4 -->
<div class="grid-wrapper border-bottom--treasury space-bottom-section">
  <div class="grid grid-1-2">
    <div class="inner-block">
      <h3 class="heading-small">Pension scams and complaints</h3>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block">
      <h4 class="heading-small grey-text">In this section</h4>
      <ul>
        <li><a href="/edge">How to make a pension complaint</a></li>
        <li><a href="/edge">How to avoid pension scams</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="grid-wrapper border-bottom--treasury space-bottom-section margin-top-section">
  <div class="grid grid-1-3">
    <div class="inner-block">
      <h2 class="heading-medium margin-top-none">Talk to an expert</h2>
    </div>
  </div>
  <div class="grid grid-2-3">
    <div class="inner-block">
      <p>If you’d still like help understanding your options, you can arrange to
        <a href="/appointments">speak to a pension expert</a>.</p>

      <p>Guidance appointments are <strong>free and impartial</strong>. You can
        have them over the phone
        or face to face. Phone guidance is with the Pensions Advisory Service.
        Face-to-face guidance is from the Citizens Advice Bureau.</p>

      <p>Pensionwise experts don’t recommend any products or companies and won’t
        tell you how to invest your money. At the end of a guidance appointment
        you’ll
        get a summary of your details and next steps you need to take. </p>
    </div>
  </div>
</div>

<div class="grid-wrapper margin-top-section space-bottom-section">
  <div class="grid grid-1-3">
    <div class="inner-block">
      <h2 class="heading-medium margin-top-none">Who can book an appointment</h2>
    </div>
  </div>
  <div class="grid grid-2-3">
    <div class="inner-block">
      <p>You can only book if:</p>
      <ul class="list-bullet">
        <li>you’re planning to take money from your pension pot in the next 6
          months
        </li>
        <li>you have a pension based on how much has been paid into your pot
          (defined contribution)
        </li>
        <li>you’re close to or over 55</li>
      </ul>
    </div>
  </div>
</div>
