<% content_for :page_title do %>
  The pensions guidance service
<% end %>

<p>The government is creating a new service to help people understand what they
can do with their pension pots before they retire.</p>

<p>We would like you to take part in testing the service. This will help us find
out more about what kind of pension guidance people are looking for.</p>

<p>If you’d like to take part, fill in the form and send it back to us.</p>

<form action="/" class="data-capture">

<!-- Full name -->
<div class="form-group">
  <label class="form-label-bold" for="name">Name</label>
  <input type="text" class="form-control" id="name">
</div>

<!-- Age -->
<div class="form-group">
  <label class="form-label-bold" for="age">Age</label>
  <input type="text" class="form-control form-control-1-8" id="age">
</div>

<!-- Email -->
<div class="form-group">
  <label class="form-label-bold" for="email">Email</label>
  <input type="text" class="form-control" id="email">
</div>

<div class="form-group">
  <fieldset>
    <legend class="form-label-bold">When do you plan to retire?</legend>

    <label for="retire-when-1" class="block-label">
      <input id="retire-when-1" type="radio" name="retire-when" value="1">
      In the next 6 months
    </label>
    <label for="retire-when-2" class="block-label">
      <input id="retire-when-2" type="radio" name="retire-when" value="2">
      In the next 6 to 12 months
    </label>
    <label for="retire-when-3" class="block-label">
      <input id="retire-when-3" type="radio" name="retire-when" value="3">
      In the next 1 to 5 years
    </label>
    <label for="retire-when-4" class="block-label">
      <input id="retire-when-4" type="radio" name="retire-when" value="4">
      More than 5 years
    </label>
    <label for="retire-when-4" class="block-label">
      <input id="retire-when-4" type="radio" name="retire-when" value="5">
      I'm already retired
    </label>
    <label for="retire-when-4" class="block-label">
      <input id="retire-when-4" type="radio" name="retire-when" value="6">
      I don’t know
    </label>
  </fieldset>
</div>

<div class="form-group">
  <fieldset>
    <legend class="form-label-bold">What type of pension do you have?</legend>

    <label for="pension-type-1" class="block-label">
      <input id="pension-type-1" type="radio" name="pension-type" value="1">
      A pension based on how much you’ve paid into your pot
    </label>
    <label for="pension-type-2" class="block-label">
      <input id="pension-type-2" type="radio" name="pension-type" value="2">
      A pension based on your salary when you retire
    </label>
    <label for="pension-type-3" class="block-label">
      <input id="pension-type-3" type="radio" name="pension-type" value="3">
      Both
    </label>
    <label for="pension-type-4" class="block-label">
      <input id="pension-type-4" type="radio" name="pension-type" value="4">
      I don’t know
    </label>
  </fieldset>
</div>

<div class="form-group">
  <fieldset>
    <legend class="form-label-bold">How do you expect to use this service?</legend>
    <p>Select all that apply</p>

    <label for="expectation-1" class="block-label">
      <input id="expectation-1" type="checkbox" name="expectation" value="1">
      I would read information online
    </label>
    <label for="expectation-2" class="block-label">
      <input id="expectation-2" type="checkbox" name="expectation" value="2">
      I would speak to a pensions expert on the phone
    </label>
    <label for="expectation-3" class="block-label">
      <input id="expectation-3" type="checkbox" name="expectation" value="3">
      I would have a face-to-face session with a pensions expert
    </label>
  </fieldset>
</div>

<div class="form-group">
  <label class="form-label-bold" for="email">What would you like to get from this service?</label>
  <textarea name="input-feedback" id="input-feedback" class="form-control"></textarea>
</div>

<!-- Primary buttons, secondary links -->
<div class="form-group">
  <input type="submit" class="button" value="Submit">
</div>

</form>
