<% content_for :page_title do %>
  Taking money from your pension pot
<% end %>

<p>Your pension pot is all the money you paid into a private or workplace pension.
  When it's time for you to retire you can decide how you want this money to be paid to you.</p>

<p>You can:</p>

<ul>
  <li>take part or all of your pension pot as cash (lump sum)</li>
  <li>keep your pot invested while taking money from it (drawdown)</li>
  <li>buy a regular income (annuity)</li>
</ul>


<p>You can use a mixture of all 3 if you want.</p>

<h2>You want a larger sum straight away</h2>

<p>You can take 25% of your pension pot as a tax-free lump sum.
  If you take more you’ll pay tax on it.</p>

<p>You have to be at least 55 to do this and once you've taken a lump sum you can't change your decision.</p>

<p>While this might sound like a good option you should think carefully how
  you’ll use the money and if you’ll have enough left to pay for the coming years
  of your retirement.</p>

<p>The tax are different for pots of £30,000 or less.</p>

<h2>You want flexibility</h2>

<p>You can leave your pension pot invested after you retire and just take out
  what and when you need it. This is called 'income drawdown'.  Like with all
  investments the value of your pot can go up or down.</p>

<p>Any money you take from your pension as drawdown is taxed.</p>

<p><a href="#insert_url">Tax on pension payments</a></p>

<h2>You want security</h2>

<p>If you prefer to have a guaranteed retirement income you can use your pension pot to buy one. This is called an annuity. You hand over your pension pot to an insurance company and they guarantee you a regular income for the rest of your life.</p>

<p>They’ll keep paying you even if your pension pot runs out of money. But once you’ve bought an annuity you can’t change this decision and get your money back. To pass your annuity payments on to your spouse or partner after you die you have to buy a joint annuity. This means you would get less money during your lifetime.</p>

<p>How much you get every year depends on things like the size of your pot, your age and sometimes your health.</p>

<p>You pay tax on your annuity payments, just like you did on your salary.</p>

<p><a href="#insert_url">Tax on annuity payments</a></p>

<div class="example">
  <p><strong>Example: mixing your options</strong></p>

  <p>Your pension pot is £60,000. You decide to take 25% as tax-free cash = £15,000.</p>

  <p>You then use £20,000 to buy an annuity which would give you a yearly income of about £900 a year.</p>

  <p>You leave £25,000 invested and take out about £5000 per year for 5 years.</p>
</div>

<p>To help you understand which option best suits your circumstances you can
  <a href="insert_url">set up a guidance appointment</a>.</p>
