<% content_for :page_title do %>
  The Pensions Guidance Service
  <div class="strapline">Your money, your retirement</div>
<% end %>



<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <div class="inner-block">

        <p>This service helps you understand what to do with your pension pot when you want to retire.</p>

        <h2 class="heading-medium">What to do with your pension pot</h2>
        <p><a href="/your-options/overview">Decide how you want your pension to be paid</a><br/>
          Cash, annuities income drawdown, leaving it alone</p>

        <h2 class="heading-medium">Tax</h2>
        <p><a href="/tax-on-your-pension/1">Tax on your pension</a></p>

      <h2 class="heading-medium">Where to find things</h2>

      <ul>
        <li><a href="/where-to-start">Where to start</a></li>
        <li><a href="#insert_url">Find out how much you have</a> (awaiting content)</li>
        <li></li>
      </ul>
    </div>
  </div>

</div>
