<% content_for :page_title do %>
  Pensions Guidance
<% end %>

<div class="inner-block">
  <p>You can decide how to take the money from your pension pot when you retire.</p>

  <p><a href="/article">Read an article</a></p>

  <p><a href="/guidance-session">Book a session</a></p>
</div>


