<% content_for :page_title do %>
  The Pension Guidance Service
<% end %>

<% content_for :page_type do %>
  homepage
<% end %>

<div class="grid-wrapper border-bottom--treasury space-bottom-section">
  <div class="pensions-are-changing">
    <div class="grid grid-2-3">
      <div class="inner-block">
        <div class="media-player">
          <a href="https://www.youtube.com/watch?v=VMWjvkPmlLE">Watch our
            video about the Digital by Default Service Standard</a>
        </div>
      </div>
    </div>
    <div class="grid grid-1-3">
      <div class="inner-block">
        <h2 class="heading-medium margin-top-none">Pensions are changing</h2>

        <p>From April 2015 you'll have more freedom over how you take money from
          your pension pot.</p>

        <p>These changes affect you <strong>if you're 55 or over</strong> and
          have a pension
          based on how much has been paid into your pot (a
          <span class="tooltip" title="A pension based on how much has been paid into your pot"> <strong>defined
            contribution</strong> pension</span>).</p>

        <p>This service explains what your options are, what's tax-free and
          what's not.</p>
      </div>
    </div>
  </div>
</div>

<div class="inner-block text margin-top-extra">
  <h2 class="heading-medium" id="guides">1. Read about your options</h2>
</div>

<!-- category 1 -->
<div class="grid-wrapper margin-top-extra">
  <div class="grid grid-1-2">
    <div class="inner-block">
      <h3 class="heading-small">Getting started with your pension pot</h3>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block">
      <h4 class="heading-small grey-text">In this section</h4>
      <ul>
        <li><a href="/understand-your-pension-type">Understand your pension type</a>
        </li>
        <li>
          <a href="/check-the-value-of-your-pension-pot">Check the value of your pension pot</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- category 2 -->
<div class="grid-wrapper">
  <div class="grid grid-1-2">
    <div class="inner-block">
      <h3 class="heading-small">How you can take your pension money</h3>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block">
      <h4 class="heading-small grey-text">In this section</h4>
      <ul>
        <li><a href="/what-you-can-do-with-your-pension-pot">What you can do with your pension pot</a>
        </li>
        <li><a href="/tax-you-pay-on-your-pension">Tax you pay on your pension</a>
        </li>
        <li><a href="/shopping-around-for-the-best-deal">Shop around for the best deal</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- category 3 -->
<div class="grid-wrapper">
  <div class="grid grid-1-2">
    <div class="inner-block">
      <h3 class="heading-small">Your retirement income</h3>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block">
      <h4 class="heading-small grey-text">In this section</h4>
      <ul>
        <li><a href="/edge">Calculate your retirement income</a></li>
        <li><a href="/edge">Plan how long your money needs to last</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- category 4 -->
<div class="grid-wrapper border-bottom--treasury space-bottom-section">
  <div class="grid grid-1-2">
    <div class="inner-block">
      <h3 class="heading-small">Pension scams and complaints</h3>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="inner-block">
      <h4 class="heading-small grey-text">In this section</h4>
      <ul>
        <li><a href="/edge">How to make a pension complaint</a></li>
        <li><a href="/how-to-avoid-pension-scams">How to avoid pension scams</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Tools  -->
<div class="inner-block text">
  <h2 class="heading-medium">2. Work out your retirement income</h2>
</div>

<div class="grid-wrapper border-bottom--treasury space-bottom-section">
  <div class="grid grid-1-3">
    <div class="inner-block">
      <h3 class="heading-small"><a href="/pension-tax-calculator">Pension tax calculator</a></h3>

      <p>Find out how much tax you pay if you take your whole pension pot in one
        go</p>
    </div>
  </div>
  <div class="grid grid-1-3">
    <div class="inner-block">
      <h3 class="heading-small"><a href="https://www.moneyadviceservice.org.uk/en/articles/retirement">Compare annuities</a></h3>

      <p>Shop around for the best
        <span class="tooltip" title="Gives you a regular income in your retirement">annuity</span>
        rates and compare providers</p>
    </div>
  </div>
  <div class="grid grid-1-3">
    <div class="inner-block">
      <h3 class="heading-small"><a href="/edge">Find a financial adviser</a>
      </h3>

      <p>Find a financial adviser registered with the Financial Conduct
        Authority</p>
    </div>
  </div>
</div>


<div class="grid-wrapper space-bottom-section margin-top-section">
  <div class="inner-block">
    <h2 class="heading-medium margin-top-none">3. Talk to an expert</h2>
  </div>
  <div class="grid grid-1-3">
    <div class="inner-block">
      <img src="/images/alexl.png" class="responsive-image" alt=""/>
    </div>
  </div>
  <div class="grid grid-2-3">
    <div class="inner-block">
      <p>If you’d still like help understanding your options, you can arrange to
        <a href="/appointments">speak to a pension expert</a>.</p>

      <p>Guidance appointments are <strong>free and impartial</strong>. You can
        have them over the phone
        or face to face. Phone guidance is with the Pensions Advisory Service.
        Face-to-face guidance is from the Citizens Advice Bureau.</p>

      <p>The Pension Guidance Service experts don’t recommend any products or
        companies and won’t
        tell you how to invest your money. At the end of a guidance appointment
        you’ll
        get a summary of your details and next steps you need to take. </p>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    // Find all links to videos on youtube
    var $yt_links = $("a[href*='https://www.youtube.com/watch']");

    // Create players for our youtube links
    $.each($yt_links, function (i) {
      var $holder = $('<span />');
      $(this).parent().replaceWith($holder);
      // Find the captions file if it exists
      var $mycaptions = $(this).siblings('.captions');
      // Work out if we have captions or not
      var captionsf = $($mycaptions).length > 0 ? $($mycaptions).attr('href') : null;
      // Ensure that we extract the last part of the youtube link (the video id)
      // and pass it to the player() method
      var link = $(this).attr('href').split("=")[1];
      // Initialise the player
      $holder.player({
        id: 'yt' + i,
        media: link,
        captions: captionsf
      });
    });
  });
</script>
