<% content_for :page_title do %>
  The Pensions <br />
  Guidance Service
  <span class="strapline">Your money, your retirement</span>
<% end %>



<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <div class="inner-block">

        <p>This service helps you understand what to do with your pension pot when you want to retire.</p>

      <h2 class="heading-medium">What to do with your pension pot</h2>
      <p><a href="/your-options/overview">Decide how you want your pension to be paid</a></p>
      <ul class="indent">
        <li><a href="/your-options/2">Taking a tax-free lump sum</a></li>
        <li><a href="/your-options/2">Taking your whole pot as cash</a></li>
        <li><a href="/your-options/3">Income drawdown</a></li>
        <li><a href="/your-options/4">Annuities</a></li>
      </ul>

      <h2 class="heading-medium">Tax you pay on your pension</h2>
      <p><a href="/tax-on-your-pension/1">Income Tax and your pension</a></p>

      <h2 class="heading-medium">How pensions work</h2>
      <p><a href="/understanding-pensions/1">Understanding pensions</a></p>

      <h2 class="heading-medium">Finding pension information</h2>
      <p><a href="/how-much-in-your-pot">Find out how much you have</a></p>


    </div>
  </div>

</div>
