<% content_for :page_title do %>
  Pensions guidance
<% end %>

<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <div class="inner-block">
      <div class="where-to-start">
        <h2 class="heading-medium">Getting started</h2>
        <ol class="list-number">
          <li>Where to start</li>
          <li>Find out how much you have</li>
          <li>Tax you pay when you get a pension</li>
          <li><a href="/article">Decide how you want your pension to be paid</a></li>
        </ol>
      </div>

      <div class="your-options">
        <h2 class="heading-medium">Ways you can take money from your pension pot</h2>

        <p>Take a quick tour of your pension options:</p>
        <ol class="list-number">
          <li>Tax free lump sum</li>
          <li>Annuities</li>
          <li>Income drawdown</li>
        </ol>
        <ol class="list-number" start="4">
          <li>Cash</li>
          <li>Do nothing</li>
          <li>Combining options</li>
        </ol>

        <p class="your-options__more">
          <a href="/your-options/overview" class="bold-small">Your pension options</a></p>
      </div>

    </div>
  </div>

</div>
