<% content_for :page_title do %>
  Demo page for GOV.UK elements
<% end %>

<h2>This is an h2</h2>

<h3>This is an h3</h3>

<h4>This is an h4</h4>

<p>There are 3 things you must do in the first few days after someone dies.</p>

<ol class="steps">
  <li>
    <p>Get a medical certificate from a GP or hospital doctor. You’ll need this to register the death.</p>
  </li>
  <li>
    <p><a href="/register-a-death">Register the death</a> within 5 days. You’ll then get the documents you need for the funeral.</p>
  </li>
  <li>
    <p>Arrange the funeral - you can use a funeral director or arrange it yourself.</p>
  </li>
</ol>

<!--
  https://www.gov.uk/workplace-pensions/what-you-your-employer-and-the-government-pay
-->
<p>Work out your contributions using the
  <a rel="external" href="https://www.moneyadviceservice.org.uk/en/tools/workplace-pension-contribution-calculator">
    Money Advice Service’s contributions calculator.
  </a>
</p>

<!--
  https://www.gov.uk/after-a-death/organisations-you-need-to-contact-and-tell-us-once
-->
<ul>
  <li>date of birth</li>
  <li>National Insurance number</li>
  <li>driving licence number</li>
  <li>passport number</li>
</ul>

<!--
  https://www.gov.uk/after-a-death/organisations-you-need-to-contact-and-tell-us-once
-->
<div class="application-notice info-notice">
  <p>You need permission from the next of kin, the executor, the administrator or anyone who was claiming joint benefits or entitlements with the deceased before you give their details.</p>
</div>


<!--
  https://www.gov.uk/contact-student-finance-england
-->
<div class="form-download">
  <p><a href="http://www.slc.co.uk/media/426356/ppc008_june_2012_online.pdf">Download ‘How to make a complaint’ (PDF, 146KB)</a></p>
</div>

<!--
  https://www.gov.uk/personal-pensions-your-rights/charges
-->
<table>
  <thead><tr>
    <th>How long you’ve been paying into a stakeholder pension</th>
    <th>How much your provider can charge</th>
  </tr></thead>
  <tbody>
  <tr>
    <td>1 to 10 years</td>
    <td>1.5% of the value of your pension fund</td>
  </tr>
  <tr>
    <td>11 or more years</td>
    <td>1% of the value of your pension fund</td>
  </tr>
  </tbody>
</table>

<!--
  https://www.gov.uk/after-a-death/register-the-death
-->
<div class="application-notice help-notice">
  <p>If the death has been
    <a href="/after-a-death/when-a-death-is-reported-to-a-coroner">reported to a coroner</a>
    you can’t register the death until the coroner gives permission.
  </p>
</div>

<!--
  https://www.gov.uk/workplace-pensions/what-you-your-employer-and-the-government-pay
-->
<div class="example">
  <p><strong>Example</strong></p>

  <p>Each payday:</p>

  <ul>
    <li>you put in £40</li>
    <li>your employer puts in £30</li>
    <li>you get £10 tax relief</li>
  </ul>
  <p>A total of £80 goes into your pension each payday.</p>
</div>

<!--
  https://www.gov.uk/complain-pension-service
-->
<div class="contact">
  <p><strong>Pension Service helpline</strong> <br>
    Telephone: 0345 606 0265 <br>
    Textphone: 0345 722 4433<br>
    Monday to Friday, 8am to 6pm  <br><a href="/call-charges">Find out about call charges</a></p>
</div>

<!--
  https://www.gov.uk/find-lost-pension
-->
<section class="intro">
  <div class="get-started-intro">
    <p>Find a lost pension by contacting the Pension Tracing Service online. You’ll be asked to fill in a form. This service is free. </p>
  </div>
  <p id="get-started" class="get-started group">
    <a href="https://www2.dwp.gov.uk/tps-directgov/en/contact-tps/pension-tracing-form.asp"
       rel="external" data-transaction-slug="find-lost-pension" class="button">Start now</a>
    <span class="destination"> on the Pension Service website</span>
  </p>
</section>


<!--
  https://www.gov.uk/calculate-state-pension
-->
<div class="intro">
  <p>Calculate when you’ll reach State Pension age or Pension Credit qualifying age and how much you may get in today’s money for your basic State Pension.</p>

  <p class="get-started">
    <a rel="nofollow" href="/calculate-state-pension/y" class="big button">Start now</a>
  </p>
</div>
