<% content_for :page_title do %>
  The pensions guidance service
<% end %>

<p>This service helps you understand what to do with your pension pot when you
  want to retire.</p>

<p>You will get the most from the service if:</p>

<ul>
  <li>you have a pension based on how much you've paid into your pot</li>
  <li>you are going to retire in the next 6 months</li>
</ul>

<h2>About the service</h2>

<p>You'll find out:</p>
<ul>
  <li>which pension pot options best suit your circumstances</li>
  <li>what you might pay in tax</li>
  <li>where to get more information and advice</li>
</ul>

<p class="get-started">
  <a rel="nofollow" href="#started" class="big button">Start now</a>
</p>

<br/>

<p>If you're not close to retirement or you only have a pension which is based on
  your salary when you retire, you can talk to 
  <a href="http://www.pensionsadvisoryservice.org.uk/">The Pensions Advisory Service</a> or
  <a href="https://www.moneyadviceservice.org.uk/en?roptin=1">The Money Advice Service</a>.</p>

