<% content_for :page_title do %>
  Pensions Guidance
<% end %>

<div class="inner-block">
  <p>You can decide how to take the money from your pension pot when you retire.</p>

  <h2 class="heading-small">Learn more about pensions</h2>
  <p><a href="/article">Deciding how you want your pension to be paid</a></p>

  <h2 class="heading-small">Would you like some free, impartial guidance?</h2>
  <p><a href="/guidance-session">Book a free guidance session</a></p>
</div>


