<% content_for :page_title do %>
  Pensions Guidance - Agent Tools
<% end %>

<h2>Calculators</h2>
<ul>
  <li><a href="/interest">Interest calculator</a></li>
  <li><a href="/drawdown">Income drawdown calculator</a></li>
  <li><a href="/tax">Tax calculator</a></li>
  <li><a href="http://www.find.co.uk/pensions/annuities_centre/annuities-calculator">Annuities Calculator</a></li>
</ul>
