<% content_for :page_title do %>
  Pensions Guidance - Agent Tools
<% end %>

<h2>Calculators</h2>
<ul>
  <li><a href="/interest">Do nothing calculator</a></li>
  <li><a href="/drawdown">Income drawdown calculator</a></li>
  <li><a href="/tax">Take the whole pot calculator</a></li>
  <li>Annuities Calculator
    <ul>
      <li><a href="https://www.moneyadviceservice.org.uk/en/tools/annuities">MAS</a></li>
      <li><a href="http://www.find.co.uk/pensions/annuities_centre/annuities-calculator">Find.co.uk</a></li>
    </ul>
  </li>
</ul>
