<% content_for :page_title do %>
  Session Input
<% end %>

<p>Filling out the following details will ensure you get the most from your session</p>

<h2 class="heading-large">Personal details</h2>

<div class="form-group">
  <label class="form-label-bold" for="name">Full name</label>
  <input type="text" class="form-control" id="name">
</div>

<div class="form-group">
  <label class="form-label-bold" for="age">Age</label>
  <input type="text" class="form-control" id="age">
</div>

<div class="form-group">
  <fieldset class="inline">
    <legend class="form-label-bold">Gender</legend>

    <label for="radio-inline-1-male" class="block-label">
      <input id="radio-inline-1-male" type="radio" name="gender" value="Male">
      Male
    </label>
    <label for="radio-inline-2-female" class="block-label">
      <input id="radio-inline-2-female" type="radio" name="gender" value="Female">
      Female
    </label>
  </fieldset>
</div>

<div class="form-group">
  <fieldset class="">
    <legend class="form-label-bold">Marital Status</legend>

    <label for="radio-inline-1-married" class="block-label">
      <input id="radio-inline-1-married" type="radio" name="marital" value="Married">
      Married
    </label>
    <label for="radio-inline-2-married" class="block-label">
      <input id="radio-inline-2-married" type="radio" name="marital" value="Widowed">
      Widowed
    </label>
    <label for="radio-inline-3-married" class="block-label">
      <input id="radio-inline-3-married" type="radio" name="marital" value="Separated">
      Separated
    </label>
    <label for="radio-inline-4-married" class="block-label">
      <input id="radio-inline-4-married" type="radio" name="marital" value="Divorced">
      Divorced
    </label>
    <label for="radio-inline-5-married" class="block-label">
      <input id="radio-inline-5-married" type="radio" name="marital" value="Single">
      Single
    </label>
  </fieldset>
</div>


<div class="form-group">
  <fieldset class="">
    <legend class="form-label-bold">dependants</legend>

    <label for="radio-inline-1-dependants" class="block-label">
      <input id="radio-inline-1-dependants" type="checkbox" name="radio-dependants-group" value="Spouse">
      Spouse
    </label>
    <label for="radio-inline-2-dependants" class="block-label">
      <input id="radio-inline-2-dependants" type="checkbox" name="radio-dependants-group" value="Children">
      Children
    </label>
    <label for="radio-inline-3-dependants" class="block-label">
      <input id="radio-inline-3-dependants" type="checkbox" name="radio-dependants-group" value="Parents">
      Parents
    </label>
  </fieldset>
</div>


<div class="form-group">
  <fieldset class="">
    <legend class="form-label-bold">Employment Status</legend>

    <label for="radio-inline-1-employment" class="block-label">
      <input id="radio-inline-1-employment" type="radio" name="radio-employment-group" value="1">
      Employed
    </label>
    <label for="radio-inline-2-employment" class="block-label">
      <input id="radio-inline-2-employment" type="radio" name="radio-employment-group" value="2">
      Self Employed
    </label>
    <label for="radio-inline-3-employment" class="block-label">
      <input id="radio-inline-3-employment" type="radio" name="radio-employment-group" value="3">
      Un-employed
    </label>
  </fieldset>
</div>

<div class="form-group">
  <label class="form-label-bold" for="income">Current Income</label>
  £ <input type="text" class="form-control" id="income">
</div>

<div class="form-group">
  <fieldset>
    <legend class="form-label-bold">Tax Status</legend>

    <label for="radio-inline-1-tax" class="block-label">
      <input id="radio-inline-1-tax" type="radio" name="radio-tax-group" value="1">
      Non-tax payer
    </label>
    <label for="radio-inline-2-tax" class="block-label">
      <input id="radio-inline-2-tax" type="radio" name="radio-tax-group" value="2">
      Basic rate tax payer
    </label>
    <label for="radio-inline-3-tax" class="block-label">
      <input id="radio-inline-3-tax" type="radio" name="radio-tax-group" value="3">
      Higher rate tax payer
    </label>
    <label for="radio-inline-4-tax" class="block-label">
      <input id="radio-inline-4-tax" type="radio" name="radio-tax-group" value="4">
      Additional Higher rate tax payer
    </label>
  </fieldset>
</div>

<fieldset class="group">
  <legend class="form-label-bold">Savings and Assets</legend>

  <div class="form-group">
    <label class="form-label-bold" for="savings">Savings
    <span class="form-hint">
       Includes ISAs, premium bonds
            </span>
    </label>
    £ <input type="text" class="form-control" id="savings">
  </div>

  <div class="form-group">
    <label class="form-label-bold" for="stocks">Stocks and shares</label>
    £ <input type="text" class="form-control" id="stocks">
  </div>

  <div class="form-group">
    <label class="form-label-bold" for="property">Property</label>
    £ <input type="text" class="form-control" id="property">
  </div>

  <div class="form-group">
    <label class="form-label-bold" for="other-savings">Other</label>
    £ <input type="text" class="form-control" id="other-savings">
  </div>
</fieldset>


<fieldset class="group">
  <legend class="form-label-bold">Debts</legend>

<div class="form-group">
  <label class="form-label-bold" for="mortgage">Mortgage</label>
  £ <input type="text" class="form-control" id="mortgage">
</div>

  <div class="form-group">
    <label class="form-label-bold" for="cc">Credit Cards</label>
    £ <input type="text" class="form-control" id="cc">
  </div>

  <div class="form-group">
    <label class="form-label-bold" for="loans">Loans</label>
    £ <input type="text" class="form-control" id="loans">
  </div>

  <div class="form-group">
    <label class="form-label-bold" for="other">Other</label>
    £ <input type="text" class="form-control" id="other">
  </div>

</fieldset>


<h2 class="heading-large">Pension details</h2>

<fieldset class="group">
  <legend class="form-label-bold">Defined Contribution 1</legend>

  <div class="form-group">
    <label class="form-label-bold" for="dc-1-value">Value</label>
    £ <input type="text" class="form-control" id="dc-1-value">
  </div>

  <fieldset class="inline">
    <legend class="form-label-bold">Guaranteed annuity</legend>

    <label for="radio-1-1-ga" class="block-label">
      <input id="radio-1-1-ga" type="radio" name="radio-inline-group" value="1">
      Yes
    </label>
    <label for="radio-1-2-ga" class="block-label">
      <input id="radio-1-2-ga" type="radio" name="radio-inline-group" value="2">
      No
    </label>
  </fieldset>

  <div class="form-group">
    <label class="form-label-bold" for="rate-1">Guaranteed annuity rate</label>
    % <input type="text" class="form-control" id="rate-1">
  </div>

  <fieldset class="inline">
    <legend class="form-label-bold">Surrender penalty?</legend>

    <label for="radio-1-1-penalty" class="block-label">
      <input id="radio-1-1-penalty" type="radio" name="radio-inline-group" value="1">
      Yes
    </label>
    <label for="radio-1-2-penalty" class="block-label">
      <input id="radio-1-2-penalty" type="radio" name="radio-inline-group" value="2">
      No
    </label>
  </fieldset>
</fieldset>

<fieldset class="group">
  <legend class="form-label-bold">Defined Contribution 2</legend>

  <div class="form-group">
    <label class="form-label-bold" for="value-2">Value</label>
    £ <input type="text" class="form-control" id="value-2">
  </div>

  <fieldset class="inline">
    <legend class="form-label-bold">Guaranteed annuity</legend>

    <label for="radio-2-1-ga" class="block-label">
      <input id="radio-2-1-ga" type="radio" name="radio-inline-group" value="Male">
      Yes
    </label>
    <label for="radio-2-2-ga" class="block-label">
      <input id="radio-2-2-ga" type="radio" name="radio-inline-group" value="Male">
      No
    </label>
  </fieldset>

  <div class="form-group">
    <label class="form-label-bold" for="rate-2">Guaranteed annuity rate</label>
    % <input type="text" class="form-control" id="rate-2">
  </div>

  <fieldset class="inline">
    <legend class="form-label-bold">Surrender penalty?</legend>

    <label for="radio-2-1-penalty" class="block-label">
      <input id="radio-2-1-penalty" type="radio" name="radio-inline-group" value="1">
      Yes
    </label>
    <label for="radio-2-2-penalty" class="block-label">
      <input id="radio-2-2-penalty" type="radio" name="radio-inline-group" value="2">
      No
    </label>
  </fieldset>
</fieldset>

<fieldset class="group">
  <legend class="form-label-bold">Defined Contribution 3</legend>

  <div class="form-group">
    <label class="form-label-bold" for="value-3">Value</label>
    £ <input type="text" class="form-control" id="value-3">
  </div>

  <fieldset class="inline">
    <legend class="form-label-bold">Guaranteed annuity</legend>

    <label for="radio-3-1" class="block-label">
      <input id="radio-3-1" type="radio" name="radio-inline-group" value="Male">
      Yes
    </label>
    <label for="radio-3-2" class="block-label">
      <input id="radio-3-2" type="radio" name="radio-inline-group" value="Male">
      No
    </label>
  </fieldset>

  <div class="form-group">
    <label class="form-label-bold" for="insert">Guaranteed annuity rate</label>
    % <input type="text" class="form-control" id="insert">
  </div>

  <fieldset class="inline">
    <legend class="form-label-bold">Surrender penalty?</legend>

    <label for="radio-3-1-penalty" class="block-label">
      <input id="radio-3-1-penalty" type="radio" name="radio-inline-group" value="Male">
      Yes
    </label>
    <label for="radio-3-2-penalty" class="block-label">
      <input id="radio-3-2-penalty" type="radio" name="radio-inline-group" value="Male">
      No
    </label>
  </fieldset>
</fieldset>

<fieldset class="group">
  <legend class="form-label-bold">Defined Benefit</legend>

  <div class="form-group">
    <label class="form-label-bold" for="dc-sum">Pension Lump Sum</label>
    £ <input type="text" class="form-control" id="dc-sum">
  </div>

  <div class="form-group">
    <label class="form-label-bold" for="dc-annum">Pension Per Annum</label>
    £ <input type="text" class="form-control" id="dc-annum">
  </div>
</fieldset>

<div class="form-group">
  <label class="form-label-bold" for="partners">Outline of partners pension provision</label>
  <textarea name="input-feedback" id="partners" class="form-control"></textarea>
</div>

<div class="form-group">
  <label class="form-label-bold" for="state">State Pension Estimate</label>
  £ <input type="text" class="form-control" id="state">
</div>


<div class="form-group">
  <label class="form-label-bold" for="health">Health</label>
  <span class="form-hint">
   Do you have any health issues or lifestyle choices that may affect your pension decision?
            </span>
  <textarea name="input-feedback" id="health" class="form-control"></textarea>
</div>

<div class="form-group">
  <label class="form-label-bold" for="requirements">Income requirements during
    retirement</label>
  £ <input type="text" class="form-control" id="requirements">
</div>

<div class="form-group">
  <label class="form-label-bold" for="plans">Retirement Plans</label>
  <textarea name="input-feedback" id="plans" class="form-control"></textarea>
</div>

<div class="form-group">
  <fieldset class="inline">
    <legend class="form-label-bold">Contact Preferences</legend>

    <label for="radio-inline-1-pref" class="block-label">
      <input id="radio-inline-1-pref" type="radio" name="radio-inline-group" value="1">
      Post
    </label>
    <label for="radio-inline-2-pref" class="block-label">
      <input id="radio-inline-2-pref" type="radio" name="radio-inline-group" value="2">
      Email
    </label>
  </fieldset>
</div>
