<h2 id="new-pensions-rules">
  <span class="number">1. </span>
  New pensions rules
</h2>

<p>From April 2015, new pension rules will apply. You’ll soon be able to take
  money
  from your pension pot however you wish. This is your chance to make a decision
  about how you want to receive your money in retirement.</p>

<h2 id="the-guidance-guarantee-service">
  <span class="number">2. </span>
  The Guidance Guarantee service
</h2>

<p>The government is creating a new service to help people understand what they
  can do with their pension pots when they retire. The service is free and will
  provide information on what your choices are and how they work.</p>

<p>You’ll have the option of speaking to an experienced pensions expert who will
  give you guidance about how to best use the money in your pension pot. You’ll
  be able to have this guidance session over the phone or face to face. Sessions
  are free, our experts won’t recommend any companies and any guidance you get
  is impartial.</p>

<p>The service will tell you about:</p>

<ul>
  <li>The different pension types and how they work</li>
  <li>What you can do with your pension pot</li>
  <li>What’s tax-free and what’s not</li>
</ul>

<h2 id="in-development">
  <span class="number">3. </span>
  In development
</h2>

<p>This service is currently in development. During this phase we will be
  testing
  the service with real users and making further improvements. Check back soon
  to
  keep up to date with our progress.</p>
