<% content_for :page_title do %>
  Session Input
<% end %>

<p>Filling out the following details will ensure you get the most from your session</p>

<h2 class="heading-large">Personal details</h2>

<div class="form-group">
  <label class="form-label-bold" for="name">Full name</label>
  <input type="text" class="form-control" id="name">
</div>

<div class="form-group">
  <label class="form-label-bold" for="age">Age</label>
  <input type="text" class="form-control" id="age">
</div>

<div class="form-group">
  <fieldset class="inline">
    <legend class="form-label-bold">Gender</legend>

    <label for="radio-inline-1-male" class="block-label">
      <input id="radio-inline-1-male" type="radio" name="gender" value="Male">
      Male
    </label>
    <label for="radio-inline-2-female" class="block-label">
      <input id="radio-inline-2-female" type="radio" name="gender" value="Female">
      Female
    </label>
  </fieldset>
</div>

<div class="form-group">
  <fieldset class="">
    <legend class="form-label-bold">Marital status</legend>

    <label for="radio-inline-1-married" class="block-label">
      <input id="radio-inline-1-married" type="radio" name="marital" value="1">
      Married
    </label>
    <label for="radio-inline-1-married" class="block-label">
      <input id="radio-inline-1-married" type="radio" name="marital" value="2">
      Civil partnered
    </label>
    <label for="radio-inline-5-married" class="block-label">
      <input id="radio-inline-5-married" type="radio" name="marital" value="3">
      Single
    </label>
    <label for="radio-inline-4-married" class="block-label">
      <input id="radio-inline-4-married" type="radio" name="marital" value="4">
      Divorced
    </label>
    <label for="radio-inline-2-married" class="block-label">
      <input id="radio-inline-2-married" type="radio" name="marital" value="5">
      Widowed
    </label>
  </fieldset>
</div>


<div class="form-group">
  <fieldset class="">
    <legend class="form-label-bold">Financial dependants</legend>

    <label for="radio-inline-1-dependants" class="block-label">
      <input id="radio-inline-1-dependants" type="checkbox" name="radio-dependants-group" value="1">
      Spouse or partner
    </label>
    <label for="radio-inline-2-dependants" class="block-label">
      <input id="radio-inline-2-dependants" type="checkbox" name="radio-dependants-group" value="2">
      Children
    </label>
    <label for="radio-inline-3-dependants" class="block-label">
      <input id="radio-inline-3-dependants" type="checkbox" name="radio-dependants-group" value="3">
      Parents
    </label>
  </fieldset>
</div>


<div class="form-group">
  <fieldset class="">
    <legend class="form-label-bold">Employment status</legend>

    <label for="radio-inline-1-employment" class="block-label">
      <input id="radio-inline-1-employment" type="radio" name="radio-employment-group" value="1">
      Employed
    </label>
    <label for="radio-inline-2-employment" class="block-label">
      <input id="radio-inline-2-employment" type="radio" name="radio-employment-group" value="2">
      Self-employed
    </label>
    <label for="radio-inline-3-employment" class="block-label">
      <input id="radio-inline-3-employment" type="radio" name="radio-employment-group" value="3">
      Unemployed
    </label>
    <label for="radio-inline-3-employment" class="block-label">
      <input id="radio-inline-3-employment" type="radio" name="radio-employment-group" value="4">
      Retired
    </label>
  </fieldset>
</div>

<div class="form-group">
  <label class="form-label-bold" for="income">Current income</label>
  £ <input type="text" class="form-control" id="income">
</div>

<div class="form-group">
  <fieldset>
    <legend class="form-label-bold">Income Tax status</legend>

    <label for="radio-inline-1-tax" class="block-label">
      <input id="radio-inline-1-tax" type="radio" name="radio-tax-group" value="1">
      Non-taxpayer
    </label>
    <label for="radio-inline-2-tax" class="block-label">
      <input id="radio-inline-2-tax" type="radio" name="radio-tax-group" value="2">
      Basic rate taxpayer
    </label>
    <label for="radio-inline-3-tax" class="block-label">
      <input id="radio-inline-3-tax" type="radio" name="radio-tax-group" value="3">
      Higher rate taxpayer
    </label>
    <label for="radio-inline-4-tax" class="block-label">
      <input id="radio-inline-4-tax" type="radio" name="radio-tax-group" value="4">
      Additional rate taxpayer
    </label>
  </fieldset>
</div>

<fieldset class="group">
  <legend class="form-label-bold">Savings and investments</legend>

  <div class="form-group">
    <label class="form-label-bold" for="savings">Savings
    <span class="form-hint">
       Includes ISAs, premium bonds
            </span>
    </label>
    £ <input type="text" class="form-control" id="savings">
  </div>

  <div class="form-group">
    <label class="form-label-bold" for="stocks">Stocks and shares</label>
    £ <input type="text" class="form-control" id="stocks">
  </div>

  <div class="form-group">
    <label class="form-label-bold" for="property">Property</label>
    £ <input type="text" class="form-control" id="property">
  </div>

  <div class="form-group">
    <label class="form-label-bold" for="other-savings">Other</label>
    £ <input type="text" class="form-control" id="other-savings">
  </div>
</fieldset>


<fieldset class="group">
  <legend class="form-label-bold">Debts</legend>

<div class="form-group">
  <label class="form-label-bold" for="mortgage">Mortgage</label>
  £ <input type="text" class="form-control" id="mortgage">
</div>

  <div class="form-group">
    <label class="form-label-bold" for="cc">Credit cards</label>
    £ <input type="text" class="form-control" id="cc">
  </div>

  <div class="form-group">
    <label class="form-label-bold" for="loans">Loans</label>
    £ <input type="text" class="form-control" id="loans">
  </div>

  <div class="form-group">
    <label class="form-label-bold" for="other">Other</label>
    £ <input type="text" class="form-control" id="other">
  </div>

</fieldset>


<h2 class="heading-large">Pension details</h2>

<fieldset class="group">
  <legend class="form-label-bold">Defined contribution</legend>

  <p class="form-hint">A pension based on how much has been paid into your pot</p>

  <div class="form-group">
    <label class="form-label-bold" for="dc-1-value">Pension value</label>
    £ <input type="text" class="form-control" id="dc-1-value">
  </div>

  <fieldset class="inline">
    <legend class="form-label-bold">Guaranteed annuity</legend>

    <label for="radio-1-1-ga" class="block-label">
      <input id="radio-1-1-ga" type="radio" name="radio-inline-group" value="1">
      Yes
    </label>
    <label for="radio-1-2-ga" class="block-label">
      <input id="radio-1-2-ga" type="radio" name="radio-inline-group" value="2">
      No
    </label>
  </fieldset>

  <div class="form-group">
    <label class="form-label-bold" for="rate-1">Guaranteed annuity rate</label>
    % <input type="text" class="form-control" id="rate-1">
  </div>

  <fieldset class="inline">
    <legend class="form-label-bold">Surrender penalty</legend>

    <label for="radio-1-1-penalty" class="block-label">
      <input id="radio-1-1-penalty" type="radio" name="radio-inline-group" value="1">
      Yes
    </label>
    <label for="radio-1-2-penalty" class="block-label">
      <input id="radio-1-2-penalty" type="radio" name="radio-inline-group" value="2">
      No
    </label>
  </fieldset>
</fieldset>

<button class="button">Add another defined contribution</button>

<div class="form-group">
<fieldset class="group">
  <legend class="form-label-bold">Defined benefit</legend>

  <p class="form-hint">A pension based on your salary</p>

  <div class="form-group">
    <label class="form-label-bold" for="dc-annum">Pension per year</label>
    £ <input type="text" class="form-control" id="dc-annum">
  </div>

  <fieldset class="inline">
    <legend class="form-label-bold">Are you taking a tax-free lump sum?</legend>

    <label for="radio-1-1-penalty" class="block-label">
      <input id="radio-1-1-penalty" type="radio" name="radio-inline-group" value="1">
      Yes
    </label>
    <label for="radio-1-2-penalty" class="block-label">
      <input id="radio-1-2-penalty" type="radio" name="radio-inline-group" value="2">
      No
    </label>
  </fieldset>

  <div class="form-group">
    <label class="form-label-bold" for="dc-sum">Tax-free lump sum</label>
    £ <input type="text" class="form-control" id="dc-sum">
  </div>
</fieldset>
</div>

<div class="form-group">
  <label class="form-label-bold" for="partners">Partner's pension status</label>
  <p class="form-hint">General details of your spouse of partner's pension arrangements</p>
  <textarea name="input-feedback" id="partners" class="form-control"></textarea>
</div>

<div class="form-group">
  <label class="form-label-bold" for="state">Estimated State Pension amount</label>
  £ <input type="text" class="form-control" id="state">
</div>

<h2 class="heading-large">Further details</h2>

<div class="form-group">
  <label class="form-label-bold" for="plans">Retirement plans</label>
  <p class="form-hint">General details about what you plan to do in retirement.</p>
  <textarea name="input-feedback" id="plans" class="form-control"></textarea>
</div>

<div class="form-group">
  <label class="form-label-bold" for="health">Health status</label>
  <span class="form-hint">
   Do you have any medical conditions that may affect your pension decision?
            </span>
  <textarea name="input-feedback" id="health" class="form-control"></textarea>
</div>

<div class="form-group">
<fieldset class="inline">
  <legend class="form-label-bold">Do you smoke?</legend>

  <label for="radio-1-1-penalty" class="block-label">
    <input id="radio-1-1-penalty" type="radio" name="radio-inline-group" value="1">
    Yes
  </label>
  <label for="radio-1-2-penalty" class="block-label">
    <input id="radio-1-2-penalty" type="radio" name="radio-inline-group" value="2">
    No
  </label>
</fieldset>
</div>

<div class="form-group">
  <fieldset class="inline">
    <legend class="form-label-bold">Contact preferences</legend>

    <label for="radio-inline-1-pref" class="block-label">
      <input id="radio-inline-1-pref" type="radio" name="radio-inline-group" value="1">
      Post
    </label>
    <label for="radio-inline-2-pref" class="block-label">
      <input id="radio-inline-2-pref" type="radio" name="radio-inline-group" value="2">
      Email
    </label>
  </fieldset>
</div>

<div class="form-group">
  <label class="form-label-bold" for="health">Address</label>
  <textarea name="input-feedback" id="health" class="form-control"></textarea>
</div>

