<!DOCTYPE html>
<html>
<head>
  <title><%= yield_content :page_title %>- GOV.UK</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/prototypes.css">
</head>
<body>
<div id="wrapper">

  <div id="govspeak">
    <%= yield %>
  </div>

</div>
</body>
</html>
