<!DOCTYPE html>
<html>
<head>
  <title>Pensions Guidance</title>
  <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
  <div id="wrapper">
    <div class="outer-block">
      <div class="inner-block">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
