<!DOCTYPE html>
<html>
<head>
  <title><%= yield_content :page_title %>- GOV.UK</title>
  <link rel="stylesheet" href="stylesheets/main.css">
  <link rel="stylesheet" href="stylesheets/prototypes.css">
</head>
<body>
<div id="wrapper" class="guide">
  <main id="content" role="main" class="group">
    <div class="inner-block text">
      <h1 class="heading-xlarge">
        <%= yield_content :page_title %>
      </h1>
    </div>

    <%= yield %>

  </main>
</div>
</body>
</html>
