<!DOCTYPE html>
<html>
<head>
  <title><%= yield_content :page_title %>- GOV.UK</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/prototypes.css">
</head>
<body>
<div id="wrapper">
  <main id="content" role="main" class="group <%= yield_content :page_type %>">
    <div class="inner-block">
      <article role="article" class="group">
        <div id="govspeak">
          <%= yield %>
        </div>
      </article>
    </div>
  </main>
</div>
</body>
</html>
