<% content_for :proposition do %>
  <%= erb :"partials/proposition" %>
<% end %>

<% content_for :page_title do %>
  Local guidance branches
<% end %>


<div class="inner-block">

    <p>Contact the branch directly to book a session.</p>

    <ol class="list-number">
      <li>
        <strong class="bold-medium">Earlsfield</strong><br/>
        591 Garratt Lane<br />
        London SW18 4ST<br/>
        Phone: 020 7562 7912<br/>
        Distance: 2 miles
      </li>
      <li>
        <strong class="bold-medium">Tooting</strong><br/>
        2/4 Gatton Road<br />
        London SW20 7TB<br/>
        Phone: 020 7571 4050<br/>
        Distance: 3 miles
      </li>
    </ol>


  <p class="text">
    Search for another postcode
  </p>

  <form action="/local-branch-results" method="get" class="form">
    <div class="form-group">
      <label class="form-label-bold" for="full-name">Post code</label>
      <input type="text" class="form-control-1-8" id="postcode" name="postcode">
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Search">
    </div>
  </form>

</div>
