<% content_for :related_link do %>
  <%= erb :"partials/related_links_calculator" %>
<% end %>

<% content_for :page_title do %>
  Tax calculator for taking your whole pension pot as cash
<% end %>

<script type="text/javascript" src="/javascripts/numerals.js"></script>
<script type="text/javascript" src="/javascripts/Calculator.js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>

<article role="article" class="group">
  <div class="inner-block">

    <div class="pension-tax-calculator">

      <div class="pension-tax-calculator__input">
        <p class="text">If you take your whole pension pot as cash, you may need
          to pay tax on
          this money. The amount of tax depends on the size of your pot and on
          your other income.</p>

        <div class="form-group">
          <label class="form-label-bold" for="pension">Total value of your
            pension pot(s)</label>
          £ <input type="text" class="form-control-1-8" id="pension">
        </div>

        <div class="form-group">
          <label class="form-label-bold" for="income">Your annual income from
            work
            before tax</label>
          £ <input type="text" class="form-control-1-8" id="income">
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Calculate" id="js-calculate">
        </div>
      </div>

      <div class="pension-tax-calculator__results text is-hidden">

        <p class="pension-tax-calculator__result">
          <span class="pension-tax-calculator__label">Tax-free part of your pension pot:</span>
          <span class="pension-tax-calculator__value" id="js-lump-sum"></span>
        </p>

        <p class="pension-tax-calculator__result">
          <span class="pension-tax-calculator__label">Tax on your pension pot:</span>
          <span class="pension-tax-calculator__value" id="js-pension-lost"></span>
        </p>

        <p class="pension-tax-calculator__result pension-tax-calculator__result--total">
          <span class="pension-tax-calculator__label">Total you get from your pot after tax: </span>
          <span class="pension-tax-calculator__value" id="js-pension-income"></span>
        </p>

        <div class="application-notice help-notice">
          <p>This is an estimate. For simplicity, we’re only including income
            from work.
            The tax-free <span class="tooltip" title="The amount of income you can get tax free, before tax starts being applied to it">Personal Allowance</span> is set at £10,000.</p>
        </div>

      </div>

    </div>

  </div>
</article>
