<% content_for :page_title do %>
  Request Sent
<% end %>

<article role="article" class="group">
  <div class="inner-block">
    <p>Your session is on ...</p>

    <p>You will need to ...</p>

  </div>
</article>
