<% content_for :page_title do %>
  Request Sent
<% end %>

<article role="article" class="group">
  <div class="inner-block text">
    <p>Your session is on</p>
    <ul>
      <% @slots.reject(&:empty?).each do |slot| %>
          <li><%= slot %></li>
      <% end %>
    </ul>

    <p>and will last upto 30 minutes</p>

    <p>Make sure that ...</p>

    <p>If you need to reschedule or cancel ...</p>
  </div>
</article>
