<% content_for :page_title do %>
  Pick a session
<% end %>

<article role="article" class="group">
  <div class="grid-wrapper">
    <div class="grid grid-1-2">
      <div class="inner-block">
        <h2>Face to face</h2>
        <p>You’ll need to travel to a local guidance branch (up to 1 hour).
          Your session will be within 4 weeks of you making the booking.</p>

        <p class="get-started">
          <a rel="nofollow" href="/find-a-local-branch" class="big button">Find a local branch</a>
        </p>
      </div>
    </div>
    <div class="grid grid-1-2">
      <div class="inner-block">
        <h2>Phone</h2>

          <p>Your session will be within 5 days of you making the booking.</p>

        <p class="get-started">
          <a rel="nofollow" href="/contact-details" class="big button">Book a phone session</a>
        </p>
      </div>
    </div>
  </div>

  <div class="inner-block text">
    <h2>What you’ll need for your session</h2>
    <p>To get the most out of your session you'll need some information
      beforehand. This will help our experts to prepare and it will save time
      during the session. </p>

    <p>You'll need to have ready:</p>

    <ul class="list-bullet">
      <li>the value of your pension pots</li>
      <li>other income you have, eg from work, property, investments</li>
      <li>your pension statements</li>
    </ul>
  </div>
</article>
