<% content_for :page_title do %>
  Pick a session
<% end %>

<article role="article" class="group">
  <div class="grid-wrapper">
    <div class="grid grid-1-2">
      <div class="inner-block">
        <h2>Face to face</h2>
        <p>You’ll need to travel to a local guidance branch (up to 1 hour). It can take up to 4 weeks to book a session.</p>

        <p class="get-started">
          <a rel="nofollow" href="/find-a-local-branch" class="big button">Find a local branch</a>
        </p>
      </div>
    </div>
    <div class="grid grid-1-2">
      <div class="inner-block">
        <h2>Phone</h2>

          <p>You can usually book a session within 5 days.</p>

        <p class="get-started">
          <a rel="nofollow" href="/contact-details" class="big button">Book a phone session</a>
        </p>
      </div>
    </div>
  </div>

  <div class="inner-block text">
    <h2>What you’ll need for your session</h2>
    <p>To get the most out of your session you should send some information
      beforehand. This will help our experts to prepare and it will save time
      during the session. </p>

    <p>You should send the following details to <a href="mailto:pensions-guidance@hmt.gov.uk">pensions-guidance@hmt.gov.uk</a>
      at least 2 weeks before your session: </p>

    <ul class="list-bullet">
      <li>your name, age and gender</li>
      <li>the value of your pension pot</li>
      <li>other income you have, eg from work, property, investments</li>
      <li>if you have a spouse or partner</li>
      <li>if you have any children</li>
    </ul>

  </div>


</article>
