<% content_for :page_title do %>
  How pensions work
<% end %>


<div class="grid-wrapper grid-demo">
  <div class="grid grid-2-3">
    <div class="inner-block">
      <article role="article" class="group">
        <div id="govspeak">
          <h2 id="what-is-a-pension">What is a pension?</h2>
          <p>A pension is a way to save money while you’re working to give you an income later in your life when you’ve retired. You can get a pension from private schemes you pay into. The money you receive from your pension is known as retirement income.</p>

          <p>You can begin to take money from your pension when you retire and <a href="/your-options/overview">you have to choose how you take it</a>. You don’t have to fully retire to take money from your pension. You can normally do this from the age of 55. This is the stage at which you have to make a decision about how you want to receive your retirement income.</p>

          <h2 id="pensions-from-the-government">Pensions from the government</h2>
          <p>The pension you get from the government is called the State Pension. You get it when you reach <a href="https://www.gov.uk//calculate-state-pension">State Pension age</a>.</p>

          <p>The most you can currently get from the basic State Pension is £113.10 per week.</p>

          <p>You don’t normally get it  automatically - you have to <a href="https://www.gov.uk//state-pension/how-to-claim">claim the State Pension</a>.</p>

          <p>If you reach State Pension age on or after 6 April 2016 you’ll get the <a href="https://www.gov.uk//new-state-pension">new State Pension</a>.</p>

          <h2 id="private-pension-types">Private pension types</h2>

          <p>There are 2 main types of private pension:</p>

          <ul>
            <li>a pension based on how much has been paid into your pot (known as defined contribution)</li>
            <li>a pension based on your salary when you retire (known as defined benefit, final salary or career average)</li>
          </ul>

          <h2 id="how-much-you-get">How much you get</h2>
          <p>For most pensions based on how much has been paid into your pot, what you get when you retire depends on:
            - the amount you’ve paid in
            - how well the pension fund’s investments have done
            - your age when you start getting the pension
            For pensions based on your salary when you retire, how much you get depends on:</p>

          <ul>
            <li>the number of years you’ve been in the pension</li>
            <li>your salary (this could be your final salary when you retire or your average salary across your career)</li>
            <li>a formula used by your employer to calculate your retirement income</li>
          </ul>

          <h2 id="shopping-around">Shopping around</h2>

          <p>Whatever you decide to do with your pension pot, you don’t have to stay with the same provider.</p>

          <p>For example, you don’t have to buy an annuity from your current pension provider. There are different kinds of annuity and you can <a rel="external" href="https://www.moneyadviceservice.org.uk/en/articles/how-to-shop-around-for-an-annuity">shop around to get the best deal</a>.</p>

          <h2 id="comparing-annuities">Comparing annuities</h2>

          <p>To compare annuities, you generally need to have the following information ready:</p>

          <ul>
            <li>the value of your pension pot</li>
            <li>the age you plan to retire</li>
            <li>your postcode</li>
            <li>the type of annuity you want (eg, one that will continue to pay your partner after your death)</li>
          </ul>

          <p>You can choose to shop around on your own or get the help of an independent financial adviser (IFA).</p>

          <h2 id="comparing-income-drawdown-products">Comparing income drawdown products</h2>
          <p>To compare income drawdown products, you need to understand how well an investment fund is doing and be able to look out for fees. You might want to get <a rel="external" href="https://www.moneyadviceservice.org.uk/en/articles/choosing-a-financial-adviser">help from an IFA</a> with this.</p>

        </div>
      </article>
    </div>
  </div>
</div>

<div class="meta-data group">
  <p class="modified-date">Last updated: 16 September 2014</p>
</div>
