<% content_for :page_title do %>
  Calculate your retirement income
<% end %>

<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <div class="inner-block">
      <article role="article" class="group text">
        <div class="govspeak">
          <h2>1. Income you have in retirement</h2>

          <p>When you reach retirement your income is likely to be less. This is mostly
            because your income from work drops if you go part-time or when you stop
            working altogether and your pension income usually isn’t as much as your
            salary.</p>

          <p>Think about
            <a href="/what-you-can-do-with-your-pension-pot">what you can do with your pension pot</a> to
            make sure you can cover your costs in retirement and to
            <a href="/plan-how-long-your-money-needs-to-last">make your money last through retirement</a>. </p>

          <p>How you take the money from your pension pot also depends on how much other
            income you have. </p>

          <h3>Most common income in retirement</h3>

          <p>You’ll most likely have:</p>

          <ul>
            <li>a pension - this might be a pension from your work, a private pension you
              set up yourself, or both
            </li>
            <li>the State Pension paid to you by the government</li>
          </ul>
          <h3>Other income</h3>

          <p>You might also have other income: </p>

          <ul>
            <li>from work - if you carry on working for some years</li>
            <li>benefits, eg pension credit, housing benefit, council tax benefit</li>
            <li>rental income</li>
            <li>interest from savings or pensioner bonds</li>
            <li>dividends from investments</li>
            <li>income from downsizing your property - if you sell and move into a smaller
              property
            </li>
            <li>equity release from your property, eg taking out a loan on part of the
              property’s value
            </li>
          </ul>
          <h2>2. Find out how much you have</h2>

          <p>You need to
            <a href="/how-much-in-your-pot">check how much money you have in your pension
              pot</a> if you don’t know.</p>

          <p>Use the <a href="https://www.gov.uk/calculate-state-pension">State Pension calculator</a> to
            get an estimate of how much you’ll get from the government and when.</p>

          <p>Add up any other income you have now, eg from work, property etc. </p>

          <p>Once you have these numbers you can calculate your retirement income. </p>

          <h2>3. If you only have pension income</h2>

          <p>Once you stop working and you don’t have any other income, your retirement
            income will be made up of your own pension(s) plus the State Pension. </p>

          <h3>Calculate your retirement income</h3>

          <p>To get a basic idea of how much you’ll have in retirement, follow these
            steps: </p>

          <ol class="steps">
            <li>
              <p>Understand
                <a href="/what-you-can-do-with-your-pension-pot">what you can do with your pension pot</a>
                and decide what’s most important to you in retirement - security or
                flexibility. For example, an annuity will give you a guaranteed amount
                every year but you can’t change it or leave money to anyone after you die.
                Taking cash or using income drawdown will give you more flexibility but
                you’re also exposed to investment risks.</p>
            </li>
            <li>
              <p><a href="/shopping-around-for-the-best-deal">Shop around</a> and get quotes from providers to
                understand how much money you can get from the amount you have in your
                pension pot. Get quotes for different options.</p>
            </li>
            <li>
              <p>Decide which option(s) suit you the best. This will be a combination of
                the amount you can get, what providers offer for your pot size and if you
                want security or flexibility. You might want to talk to a financial
                adviser.</p>
            </li>
            <li>
              <p>Add the most suitable quote to your State Pension. If you also have a
                defined benefit pension, add that money too.</p>
            </li>
            <li>
              <p>Take away the
                <a href="/tax-you-pay-on-your-pension">tax you pay on your pension</a>.</p>
            </li>
          </ol>
          <div class="example">
            <p><strong>Example</strong></p>

            <h3 id="what-you-have">What you have</h3>

            <p>You’re 65 and you decide to stop working. You have the basic State Pension
              and your pension pot. </p>

            <table>
              <thead>
              <tr>
                <th>What you have</th>
                <th>Amount</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Basic State Pension</td>
                <td>£5,881.20</td>
              </tr>
              <tr>
                <td>Your pension pot</td>
                <td>£60,000</td>
              </tr>
              </tbody>
            </table>
            <h3 id="what-you-do-with-your-pension-pot">What you do with your pension
              pot</h3>

            <p>You decide to take 25% of your pot tax free and take money from this amount
              every year. You buy an annuity with the rest. </p>

            <table>
              <thead>
              <tr>
                <th>What you do with it</th>
                <th>Amount</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>25% tax free</td>
                <td>£15,000 in one go</td>
              </tr>
              <tr>
                <td>You take from the tax-free amount each year</td>
                <td>£1,000 per year</td>
              </tr>
              <tr>
                <td>You buy an annuity with the remaining pot of £45,000</td>
                <td>This will pay £2,250 per year until you die</td>
              </tr>
              </tbody>
            </table>
            <p><strong>What you get from 65 onwards</strong></p>

            <table>
              <thead>
              <tr>
                <th>Income</th>
                <th>Amount per year</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Basic State Pension</td>
                <td>+ £5,881.20</td>
              </tr>
              <tr>
                <td>Annuity payment</td>
                <td>+ £2,250</td>
              </tr>
              <tr>
                <td>Money from your tax-free pot</td>
                <td>+ £1,000</td>
              </tr>
              <tr>
                <td><strong>Your total retirement income</strong></td>
                <td><strong>= £9,131.20</strong></td>
              </tr>
              </tbody>
            </table>
            <p>Your income is below the tax-free Personal Allowance of £10,500, so you
              won’t pay tax on it.</p>
          </div>

          <h2>4. If you have other income</h2>

          <p>If you continue working for a while and have other income, your retirement
            income will be made up of: </p>

          <ul>
            <li>you own pension</li>
            <li>the State Pension</li>
            <li>other income you have</li>
          </ul>
          <h3>Calculate your retirement income</h3>

          <p>To get a basic idea of how much you’ll have in retirement follow these
            steps: </p>

          <ol class="steps">
            <li>
              <p>Check how your other income will change in retirement. The easiest way to
                do this is to think about your 60s, 70s and 80s and how your income might
                drop. For example you might want to stop working in your late 60s which
                means you’ll have less income.</p>
            </li>
            <li>
              <p>Understand
                <a href="/what-you-can-do-with-your-pension-pot">what you can do with your pension pot</a>
                and decide when you need money this money. For example, while you’re
                working, even part-time, you might want to leave your pension pot
                untouched and leave it to grow so you can take more later.</p>
            </li>
            <li>
              <p><a href="/shopping-around-for-the-best-deal">Shop around</a> and get quotes from providers to
                understand how much money you can get for different options from the
                amount you have in your pension pot.</p>
            </li>
            <li>
              <p>Decide which option(s) suits you the best. This will be a combination of
                the amount you can get, what providers offer for your pot size and if you
                want security or flexibility.</p>
            </li>
            <li>
              <p>Add the most suitable quote to your State Pension and other income.</p>
            </li>
            <li>
              <p>Take away the
                <a href="/tax-you-pay-on-your-pension">tax you pay on your pension</a>.</p>
            </li>
          </ol>
          <div class="example">
            <p><strong>Example</strong></p>

            <h3 id="what-you-have">What you have</h3>

            <p>You’re 65 and want to work part time until you’re 70. You decide to leave
              your pension pot for 5 years. </p>

            <table>
              <thead>
              <tr>
                <th>What you have</th>
                <th>Amount</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Basic State Pension</td>
                <td>£5,881.20</td>
              </tr>
              <tr>
                <td>Your pension pot</td>
                <td>£100,000</td>
              </tr>
              <tr>
                <td>Income form working part time</td>
                <td>£15,000</td>
              </tr>
              </tbody>
            </table>
            <p>Because you still work you leave your pension pot untouched and to
              grow. </p>

            <h3 id="what-you-get-in-your-60s">What you get in your 60s</h3>

            <table>
              <thead>
              <tr>
                <th>Income</th>
                <th>Amount per year</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Basic State Pension</td>
                <td>+ £5,881.20</td>
              </tr>
              <tr>
                <td>Income from work</td>
                <td>+ £15,000</td>
              </tr>
              <tr>
                <td>Income before tax</td>
                <td>= £20,881</td>
              </tr>
              <tr>
                <td>Tax you pay</td>
                <td>- £2,176</td>
              </tr>
              <tr>
                <td><strong>Your total retirement income in your 60s</strong></td>
                <td><strong>= £18,704</strong></td>
              </tr>
              </tbody>
            </table>
            <h3 id="what-you-do-with-your-pension-pot-when-youre-70">What you do with your
              pension pot when you’re 70</h3>

            <p>Your pension pot has grown at 5% a year to £125,000 in the 5 years you left
              it untouched. You decide to take 25% tax free and re-invest the rest. </p>

            <table>
              <thead>
              <tr>
                <th>What you do with it</th>
                <th>Amount</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>25% tax free</td>
                <td>£30,000 in one go</td>
              </tr>
              <tr>
                <td>You take money from the tax-free amount each year</td>
                <td>£2,000</td>
              </tr>
              <tr>
                <td>You re-invest the remaining £90,000 into an income drawdown fund. The
                  fund grows at 5% a year
                </td>
                <td>£4,500 a year</td>
              </tr>
              </tbody>
            </table>
            <h3 id="what-you-get-from-70-onwards">What you get from 70 onwards</h3>

            <table>
              <thead>
              <tr>
                <th>Income</th>
                <th>Amount per year</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Basic State Pension</td>
                <td>+ £5,881.20</td>
              </tr>
              <tr>
                <td>Money from your tax-free amount</td>
                <td>+ £2,000</td>
              </tr>
              <tr>
                <td>Payment from your income drawdown fund</td>
                <td>+ £4,500</td>
              </tr>
              <tr>
                <td>Income before tax</td>
                <td>= £12,381</td>
              </tr>
              <tr>
                <td>Tax you pay</td>
                <td>- £476</td>
              </tr>
              <tr>
                <td><strong>Your total retirement income from 70 onwards</strong></td>
                <td><strong>= £11,905</strong></td>
              </tr>
              </tbody>
            </table>
          </div>

          <h2>5. Costs in retirement</h2>

          <p>Things you have to pay for in retirement usually include: </p>

          <ul>
            <li>living costs, eg food, clothes</li>
            <li>mortgage payments or rent</li>
            <li>energy and water bills</li>
            <li>TV, phone, internet</li>
            <li>interest on loans</li>
            <li>care costs</li>
            <li>travel</li>
            <li>leisure</li>
          </ul>
          <p>Over the years some of these things will go down, some will go up. This is
            because your needs will change. </p>

          <p>You might pay less on: </p>

          <ul>
            <li>travel - public transport is free once you reach
              <a href="https://www.gov.uk/calculate-state-pension">State Pension age</a></li>
            <li>your mortgage - this might be paid off</li>
            <li>living costs</li>
          </ul>
          <p>You might pay more for: </p>

          <ul>
            <li>energy and water bills because you spend more time at home</li>
            <li>care costs</li>
          </ul>
          <p>Add up all the costs you have and take them away from your retirement income
            after tax. This will give you an idea if you have enough money in
            retirement. </p>

          <h2>6. If you have debt</h2>

          <p>If you’re thinking about using part or all of your pension pot to
            <a href="https://www.gov.uk/options-for-paying-off-your-debts/overview">pay
              debts</a> you should get advice first. </p>

          <p>If you have large debts you might use your whole pot to pay for them. You
            have to think carefully about what you’ll live on in retirement. </p>

          <p>These organisations offer impartial debt advice: </p>

          <ul>
            <li>
              <a rel="external" href="https://www.moneyadviceservice.org.uk/en/categories/debt-and-borrowing">Money
                Advice Service</a></li>
            <li>
              <a rel="external" href="http://www.adviceguide.org.uk/wales/debt_w/debt_help_with_debt_e.htm">Citizens
                Advice Bureau</a></li>
            <li>
              <a rel="external" href="http://www.stepchange.org/Howwecanhelpyou/Debtadvice/Adviceondebtandretirement.aspx">Step
                Change: advice on debt in retirement</a></li>
          </ul>
        </div>
      </article>
    </div>
  </div>
</div>

<div class="meta-data group">
  <p class="modified-date">Last updated: 28 November 2014</p>
</div>
