<% content_for :page_title do %>
  How to avoid pension scams
<% end %>

<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <div class="inner-block">
      <article role="article" class="group text">
        <div id="govspeak">
          <p>Pension scams, in which criminals cheat people out of their pension pots, are increasing.</p>

          <p>There are different types of pension scams. They often begin by someone contacting you unexpectedly about taking your pension money before you’re 55 or about the ways you can invest it. This type of unexpected contact is known as a cold call.</p>

          <div class="application-notice info-notice">
            <p>You can only <a href="http://www.gov.uk/early-retirement-pension/personal-and-workplace-pensions">take your pension money before you’re 55</a> in rare cases, eg if you’re very ill.</p>
          </div>

          <p>Scammers may offer you tempting ways to invest your pension pot, eg investing it in a new hotel being built in an exotic location.</p>

          <p>Most of these offers are fake. Once you’ve transferred your money into a scam, it’s too late. You could lose all your pension money as well as face <a href="http://www.gov.uk/tax-on-pension/higher-tax-on-unauthorised-payments">tax of up to 55%</a> or huge additional fees.</p>

          <p><a rel="external" href="http://www.thepensionsregulator.gov.uk/pension-scams.aspx">More on the dangers of pension scams.</a></p>

          <h2 id="how-to-tell-if-its-a-scam">How to tell if it’s a scam</h2>

          <p>Watch out if an individual or company:</p>

          <ul>
            <li>contacts you unexpectedly about your pension money through a phone call, a text message, visiting you in person, or in other ways</li>
            <li>says you can access your pension money before 55</li>
            <li>asks you to transfer your money quickly - never make a rush decision about your pension money</li>
            <li>uses words like ‘loan’, ‘loophole’, ‘free pension review’ or ‘one-off investment’</li>
            <li>offers you an investment described as ‘unique’, ‘overseas’, ‘environmentally friendly’, ‘ethical’ or in a ‘new’ industry</li>
          </ul>

          <p><a rel="external" href="http://www.pensionsadvisoryservice.org.uk/publications-files/uploads/pension-scam-booklet_7_page.pdf">Examples of real pension scams.</a></p>

          <h2 id="how-to-protect-yourself">How to protect yourself</h2>

          <p>You may be approached by someone claiming to be a pension provider, a financial adviser or from the government. Remember that the government won’t:</p>

          <p>*encourage you to take your pension money before you’re 55
            *approach you with recommendations about how to invest or spend your pension money
            *cold call you for specific information about your pension or finances, eg how much is in your pension pot, who your pension provider is or what your bank details are</p>

          <div class="application-notice help-notice">
            <p>If anyone cold calls you claiming to be from the government and asks for your personal or financial details, don’t reveal them.</p>
          </div>

          <p>You can also check whether they’re legitimate by seeing if they’re on the <a rel="external" href="http://www.fca.org.uk/register">Financial Conduct Authority Register.</a></p>

          <h2 id="if-youve-been-targeted">If you’ve been targeted</h2>

          <p>If you think you’ve been the victim of a pension scam, call Action Fraud on 0300 123 1047 or use the <a rel="external" href="http://www.actionfraud.police.uk/report-a-fraud-including-online-crime">Action Fraud online reporting tool.</a></p>

          <h3 id="further-information">Further information</h3>

          <p>You can contact The Pensions Advisory Service for free and impartial information if you’re
            concerned about a pension scam.</p>

          <div class="contact">
            <p><strong>The Pensions Advisory Service</strong>
              Telephone: 0300 123 1047
              Monday to Friday, 9am to 5pm
              <a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
          </div>

          <p>You can ask a financial adviser about the best ways to use your pension pot and when to take money from it. <a rel="external" href="http://www.fsa.gov.uk/register/home.do">Find a registered financial adviser.</a> Charges usually apply.</p>

        </div>
      </article>
    </div>
  </div>
</div>

<div class="meta-data group">
  <p class="modified-date">Last updated: 28 November 2014</p>
</div>
