<% content_for :page_title do %>
  Pensions and divorce
<% end %>

<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <div class="inner-block">
      <article role="article" class="group text">
        <div id="govspeak">
          <h2 id="if-youre-divorced">If you’re divorced</h2>

          <p>The way a pension is split between you and your ex-partner is set
            out as part of the court settlement at the end of your marriage or
            civil partnership.</p>

          <p>Pensions are split in three ways:</p>

          <ul>
            <li>your ex-partner is given a percentage share of one or more of
              your pension pots - this is known as
              <a rel="external" href="http://www.pensionsadvisoryservice.org.uk/about-pensions/when-things-change/when-relationships-end/pension-sharing">pension
                sharing</a>
            </li>
            <li>the value of a pension is offset against other assets, eg you
              keep all your pension money while your ex-partner keeps the home -
              this known as
              <a rel="external" href="http://www.pensionsadvisoryservice.org.uk/about-pensions/when-things-change/when-relationships-end/pension-offsetting">pension
                offsetting</a>
            </li>
            <li>once you start taking your pension money, your pension provider
              pays part of your payment to your ex-partner - this is known as
              <a rel="external" href="http://www.pensionsadvisoryservice.org.uk/about-pensions/when-things-change/when-relationships-end/pension-earmarking">pension
                attachment or pension earmarking</a>
            </li>
          </ul>

          <div class="application-notice info-notice">
            <p>Under pension attachment your ex-partner will need to wait until
              you start taking your pension before they can get their
              payments.</p>
          </div>

          <div class="application-notice info-notice">
            <p>In Scotland, money that your ex-partner gets from pension
              attachment can only be from your tax-free lump sum, not from the
              rest of your pension.</p>
          </div>

          <p>The Money Advice Service website has more guidance on
            <a rel="external" href="https://www.moneyadviceservice.org.uk/en/articles/splitting-pensions-during-divorce">splitting
              pensions during divorce.</a></p>

          <h2 id="the-state-pension">The State Pension</h2>

          <p>Like a private pension, the
            <a href="/state-pension">State Pension</a> paid to you by the
            government is legally treated as a financial asset that could end up
            split once a marriage or civil partnership ends.</p>

          <p>If your marriage or civil partnership has ended, the court can
            order your ex-partner to share their State Pension with you.
            However, if you remarry or have another civil partnership you lose
            this right.</p>

          <p>The National Insurance contributions paid by your ex-partner before
            your marriage or civil partnership ended can boost the State Pension
            that you get.</p>

          <p>A <a href="/new-state-pension">new State Pension</a> from 6 April
            2016 may affect how much pension you get after the end of your
            marriage or civil partnership.</p>

          <p>Read about
            <a rel="external" href="http://www.pensionsadvisoryservice.org.uk/about-pensions/the-state-pension/state-pension-and-divorce-dissolution">divorce
              and the State Pension on The Pensions Advisory Service
              website.</a></p>

        </div>
      </article>
    </div>
  </div>
</div>

<div class="meta-data group">
  <p class="modified-date">Last updated: 28 November 2014</p>
</div>
