<% content_for :page_title do %>
  Shopping around for the best deal
<% end %>

<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <div class="inner-block">
      <article role="article" class="group text">
        <div id="govspeak">
          <h2 id="overview">Overview</h2>

          <p>Whatever you decide to do with your pension pot, you don’t have to
            stay with your current pension provider.</p>

          <p>For example, one way to use your pension pot is to buy a guaranteed
            income for the rest of your life (an annuity).</p>

          <p>You don’t have to buy one from your current provider. Moving your pension pot to another
            provider could give you access to a wider range of annuities and a
            higher income.</p>

          <p>The pack your provider sends you when you reach retirement age is
            likely to include information about their own products only.
            Research shows that 8 out of 10 people would have benefited from
            switching providers.</p>

          <p>You can choose to shop around by yourself or
            get paid-for help from a
            <a href="#getting-financial-advice">financial adviser</a>.</p>

          <h2 id="comparing-annuities---checklist">Comparing annuities</h2>

          <p>Before you shop around ask your current provider if they offer a
            <a rel="external" href="http://www.pensionsadvisoryservice.org.uk/about-pensions/retirement-choices/buying-an-annuity-how-to-shop-around/guaranteed-annuity-rates">guaranteed
              annuity rate</a> - a fixed rate which was set when you started
            your pension.</p>

          <p>Many pensions sold before 1990 offered these rates which may offer
            better value than annuities available elsewhere.</p>

          <p>You should also check whether your current provider charges any
            penalties for moving to a different provider. This could affect how
            much money you get from your pension pot.</p>

          <p>There are many different kinds of annuity and rates vary between
            providers. For example, if you have a health condition that affects
            your life expectancy, you may get more from an ‘enhanced’
            annuity.</p>

          <p>You should always compare annuities before making a final decision
            - once you’ve bought one you normally can’t change your mind after
            the 30 day cooling-off period.</p>

          <h3 id="comparing-annuities---checklist-1">Comparing annuities -
            checklist</h3>

          <p>To compare annuities, you generally need to have the following
            information ready:</p>

          <ul>
            <li>the value of your pension pot</li>
            <li>the age you plan to retire</li>
            <li>your postcode</li>
            <li>the type of annuity you want (eg, one that will continue to pay
              your partner after your death)
            </li>
            <li>your health details (eg, some annuities pay more if you smoke or
              have a medical condition)
            </li>
          </ul>

          <p>You can understand more about the different kinds of annuity and
            compare annuity rates on the
            <a rel="external" href="https://annuities.moneyadviceservice.org.uk/xml/annuitiesMAS/an_form.cfm">Money
              Advice Service website</a> or speak to a financial adviser to help
            you compare or discuss products you’ve found.</p>

          <h2 id="comparing-income-drawdown-products">Comparing income
            drawdown products</h2>

          <p>To compare products where you take money from your pension pot as
            and when you need it (income drawdown) you’ll need some knowledge of
            investing. This means knowing which funds and markets to invest in
            to make sure your money keeps up with or beats the rate of
            inflation.</p>

          <p>You’ll also need to look out for fees. Getting help from a
            financial adviser with help you with this.</p>

          <h3 id="comparing-income-drawdown---checklist">Comparing income
            drawdown - checklist</h3>

          <p>To compare income drawdown products, you’ll need to:</p>

          <ul>
            <li>understand investment terms and choices</li>
            <li>look at the options available on each product</li>
            <li>make decisions about where you want to invest your money</li>
            <li>check investment management and administration fees</li>
          </ul>

          <p>You’ll also need to know how your
            <a href="/tax-you-pay-on-your-pension">pension pot will be taxed</a> every
            time you take money out of it.</p>

          <div class="application-notice help-notice">
            <p>If your investments don’t perform well and you take too much
              money from your pot, you could run out of retirement income.</p>
          </div>

          <p>Getting an income drawdown product may involve transferring your
            pot to a different provider. If you’re not confident with investing
            it may not be right for you. You should consider speaking to a
            financial adviser before getting an income drawdown product.</p>

          <h2 id="getting-financial-advice">Getting financial advice</h2>

          <p>You may wish to speak to a financial adviser to help you compare
            retirement income products.</p>

          <p>The more information you have prepared when you meet with one, the
            more you will benefit. This includes information about the value of
            your pension pot and other income.</p>

          <p>Make sure your adviser is registered and approved by the FCA before
            you pay for advice. You can check the
            <a rel="external" href="http://www.fsa.gov.uk/register/home.do">FCA
              register</a> to make sure they are.</p>

          <h3 id="what-a-financial-adviser-will-do">What a financial adviser
            will do</h3>

          <p>An adviser will ask about your current financial position, your
            goals and how you feel about taking risks with your money. This will
            help them to recommend retirement income products that are right for
            you now and in the future.</p>

          <p>This list from the Financial Conduct Authority (FCA) explains what
            <a rel="external" href="http://www.fca.org.uk/consumers/financial-services-products/investments/financial-advice/what-an-adviser-might-ask-you">an
              adviser might ask you</a>.</p>

          <p>You should always ask an adviser if they’re independent or
            restricted. Restricted advisers are limited to certain products (eg
            only annuities), providers or both. Independent advisers cover the
            whole market and are not restricted to one product type or
            provider.</p>

          <h3 id="paying-for-financial-advice">Paying for financial advice</h3>

          <p>Getting financial advice costs money and the fees vary. You need to
            know what fees and charges you’ll pay for advice and when you’ll be
            expected to pay.</p>

          <p>You’ll pay a one-off fee if you see the adviser once, or a regular
            fee if the advice is ongoing. You can start by finding out if there
            is a fee for an initial consultation. Many offer this for free.</p>

          <p>Go to the Money Advice Service website where you can read more about
            <a rel="external" href="https://www.moneyadviceservice.org.uk/en/articles/choosing-a-financial-adviser">choosing
              a financial adviser.</a></p>

        </div>
      </article>
    </div>
  </div>
</div>

<div class="meta-data group">
  <p class="modified-date">Last updated: 28 November 2014</p>
</div>
