<% content_for :page_title do %>
  6 things you need to know about your pension
<% end %>

<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <div class="inner-block">
      <article role="article" class="group text">
        <div id="govspeak">


          <p>Follow these steps to understand what your pension options are. They explain the most important things you need to know about your income in retirement.</p>

          <div class="application-notice info-notice">
            <p>You can also download <a href="/your-pension-profile.pdf">your pension profile</a> and fill it in on screen as you go through the steps. The profile will show you estimates of how much you might get from different options.</p>

            <p>You can save the information you fill in - only you can see it.</p>
          </div>

          <h2 id="before-you-start">Before you start</h2>

          <p>You need to have a <a href="/understand-your-pension-type#pension-types">defined contribution pension</a> for these steps to work. This is a pension based on how much has been paid into your pension pot.</p>

          <p>Check with your provider if you’re not sure what type of pension you have.</p>

          <h2 id="your-6-pension-steps">Your 6 pension steps</h2>

          <h2 id="check-how-much-you-have-in-your-pension-pot">1. Check how much you have in your pension pot</h2>

          <p>You can ask your pension provider to tell you how much is in your pension pot. You can also look at information your provider has sent to you already, eg a pension statement, or the ‘wake-up pack’ your provider sends 4 to 6 months before your agreed retirement age.</p>

          <p><a href="/how-much-in-your-pot">Help with checking the value of your pension pot.</a></p>

          <h2 id="add-up-your-other-income">2. Add up your other income</h2>

          <p>Work out the other income you’ll have in your retirement. This may include:</p>

          <ul>
            <li>the State Pension paid to you by the government - use the <a href="https://www.gov.uk/calculate-state-pension">State Pension calculator</a> to get an estimate of how much you’ll get and when</li>
            <li>money from work, eg if you carry on working for some years</li>
            <li>benefits, eg pension credit, housing benefit, council tax benefit</li>
            <li>rental income</li>
            <li>interest from savings or pensioner bonds</li>
            <li>dividends from investments</li>
            <li>income from downsizing your property, eg if you sell and move into a smaller home</li>
          </ul>

          <h2 id="understand-what-you-can-do-with-your-pension-pot">3. Understand what you can do with your pension pot</h2>

          <p>You have several options. Don’t make a rush decision.</p>

          <ul>
            <li>
              <a href="/what-you-can-do-with-your-pension-pot#do-nothing">do nothing</a> - you can leave your pension pot untouched until you need the money</li>
            <li>
              <a href="/what-you-can-do-with-your-pension-pot#take-your-whole-pot-as-cash">take your whole pot as cash</a> - 25% of this cash will be tax free</li>
            <li>take smaller sums of cash from your pot - each sum you take will be 25% tax free</li>
            <li>
              <a href="/what-you-can-do-with-your-pension-pot#get-a-guaranteed-income-annuity">buy a regular income for the rest of your life</a> - known as an ‘annuity’</li>
            <li>
              <a href="/what-you-can-do-with-your-pension-pot#take-money-out-when-you-need-it-income-drawdown">re-invest your pension pot and take money out when you need it</a> - known as ‘income drawdown’</li>
            <li><a href="/what-you-can-do-with-your-pension-pot#mix-your-pension-options">mix these options</a></li>
          </ul>

          <p><a href="/what-you-can-do-with-your-pension-pot">More information on what you can do with your pension pot.</a></p>

          <h2 id="estimate-your-retirement-costs">4. Estimate your retirement costs</h2>
          <p>Consider costs that may arrive during your retirement, eg care and living costs, as well as other things like travel and leisure.</p>

          <p><a href="/calculating-your-retirement-income">More information on calculating your retirement income.</a></p>

          <h2 id="calculate-your-retirement-income">5. Calculate your retirement income</h2>
          <p>To do this you need to add up income from your pension and elsewhere. Take away your regular costs. Think about how your income and costs will change in retirement.</p>

          <p><a href="/calculating-your-retirement-income">Calculate your retirement income</a> and understanding <a href="/edge">how long your money needs to last</a> can help you do this.</p>

          <h2 id="dont-forget-tax">6. Don’t forget tax</h2>
          <p>Your income in retirement is taxed, just like it is when you’re in work. You have a tax-free Personal Allowance of £10,500. For everything above that you’ll pay Income Tax of 20%, 40% or 45%.</p>

          <p>Once you’ve added up all your income you’ll need to take tax away.</p>

          <p><a href="/tax-you-pay-on-your-pension">Tax you pay on your pension</a> can help you with this.</p>

          <h2 id="if-you-need-more-help">If you need more help</h2>

          <ul>
            <li>You can <a href="/appointments">book a free guidance appointment with a pensions expert</a>.</li>
            <li>Find out how to <a href="/shopping-around-for-the-best-deal">shop around for the best deal on your options</a>.</li>
            <li>Learn about <a href="/how-to-avoid-pension-scams">how to avoid pension scams</a>. </li>
          </ul>

        </div>
      </article>
    </div>
  </div>
</div>

<div class="meta-data group">
  <p class="modified-date">Last updated: 28 November 2014</p>
</div>
