<% content_for :page_title do %>
  Tax you pay on your pension
<% end %>

<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <div class="inner-block">
      <article role="article" class="group text">
        <div id="govspeak">
          <h2 id="what-you-pay-tax-on">What you pay tax on</h2>
          <p>
            When you get a pension you pay Income Tax on any money above your tax-free
            <a rel="external" href="http://www.gov.uk/income-tax-rates/personal-allowances">Personal Allowance</a>,
            just like you do on your salary.
          </p>

          <p>
            The only difference is that you can also <a href="/tax-you-pay-on-your-pension#whats-tax-free">take part of your pension pot tax-free</a>.
            This is on top of your <span class="tooltip" title="The amount of income you can get tax free, before tax starts being applied to it">Personal Allowance</span>.
          </p>

          <p>
            <a href="/tax-you-pay-on-your-pension#how-much-tax-you-pay">How much tax you pay</a> depends on your total income and the
            <a rel="external" href="http://www.gov.uk/income-tax-rates">tax rate</a> that applies to you.
          </p>

          <p>Your income may include:</p>

          <ul>
            <li>any money you get from your pension pot, eg as an <a href="/what-you-can-do-with-your-pension-pot#get-a-guaranteed-income-annuity">annuity</a> or <a href="/what-you-can-do-with-your-pension-pot#take-your-whole-pot-as-cash">cash</a>
            </li>
            <li>the State Pension</li>
            <li>earnings from employment or self employment</li>
            <li>any other income, money from rental income</li>
            <li>any taxable benefits you might get, eg Carer’s Allowance</li>
          </ul>

          <p>If you leave your pension pot untouched and don’t take any money out, you don’t pay tax on it.</p>

          <div class="application-notice info-notice">
            <p>Use the <a href="/pension-tax-calculator">pension tax calculator</a> to find out how much tax you pay if you cash in your whole pot.</p>
          </div>

          <h2 id="whats-tax-free">What’s tax free</h2>
          <p>You can usually take part of your pension pot as a tax-free lump sum. Most pension schemes offer this.</p>

          <p>There are 2 ways you can take your tax-free lump sum.</p>

          <h3 id="take-your-lump-sum-in-one-go">Take your lump sum in one go</h3>
          <p>You can take 25% of your whole pension pot tax free. After that you have to pay Income Tax on any payments, eg from an <span class="tooltip" title="Gives you a regular income in your retirement">annuity</span> or when you take more cash from your pot.</p>

          <p>For example, your pot is £60,000 and you take £15,000 tax-free in one go. Any payments you get from the remaining £45,000 would be taxed.</p>

          <h3 id="take-smaller-sums">Take smaller sums</h3>
          <p>You can take smaller cash sums from your pension pot -  25% of each sum will be tax free.</p>

          <p>For example, your pot is £60,000 and you take £1,000 out as cash every month. The first £250 of this amount would be tax free every time. The remaining £750 would be taxed.</p>

          <div class="application-notice info-notice">
            <p>Use the <a href="/pension-tax-calculator">pension tax calculator</a> to find out how much you get after tax if you cash in your whole pot.</p>
          </div>

          <h2 id="how-much-tax-you-pay">How much tax you pay</h2>
          <p>
            Your Income Tax for the year depends on your <a rel="external" href="http://www.gov.uk/income-tax-rates">tax rate</a>
            and tax-free <a rel="external" href="http://www.gov.uk/income-tax-rates/personal-allowances">Personal Allowance</a>
            that everyone gets.
          </p>

          <p>The Personal Allowance is on top of your 25% tax-free lump sum.</p>

          <h3 id="calculating-your-income-tax">Calculating your Income Tax</h3>

          <p>To figure out how much tax you’ll pay do the following:</p>

          <ol class="steps">
            <li>
              <p>Take the 25% you get tax free away from your pension pot.</p>
            </li>
            <li>
              <p>Add your other income to the amount of the remaining 75% from your pension pot.</p>
            </li>
            <li>
              <p>Take your <a rel="external" href="http://www.gov.uk/income-tax-rates/personal-allowances">tax-free Personal Allowance</a> away from this amount.</p>
            </li>
            <li>
              <p>Check your <a rel="external" href="http://www.gov.uk/income-tax-rates/income-tax-rates">tax rate</a> to calculate how much tax you’ll pay for the year.</p>
            </li>
          </ol>

          <div class="example">
            <p><strong>Example:</strong>
              You’ve decided to take your whole pot of £60,000 as cash.<br />
              You also work part-time and make £7,000 a year.</p>

            <h4 id="add-up-all-your-income">1. Take 25% away from your pension pot</h4>
            <p>25% of £60,000 is £15,000</p>
            <p>This leaves £45,000</p>

            <h4 id="work-out-your-tax-free-allowances">2. Add your other income</h4>
            <p>£45,000 plus £7,000 = £52,000</p>

            <h4 id="take-away-the-tax-free-allowances">3. Take away your tax-free allowance</h4>
            <p>You were born after 5 April 1948.</p>
            <p>Your Personal Allowance is £10,000.</p>
            <p>£52,000 minus £10,000 = £42,000</p>
            <p>This is your total taxable income for the year.</p>

            <h4 id="check-your-tax-rate">4. Check your tax rate</h4>
            <p>You pay 20% on income up to £31,865 = £6,373.</p>
            <p>You pay 40% on the remaining £10,135 = £4,054</p>
            <p>Total tax you pay for the year: £10,427</p>
          </div>

          <h2 id="how-your-tax-is-paid">How your tax is paid</h2>
          <h3 id="tax-on-your-pension-income">Tax on your pension income</h3>
          <p>
            Any money you get from a pension provider will be paid to you with the tax already taken off.
            This goes for <span class="tooltip" title="Your pension pot stays invested and you take money out when you need it">income drawdown</span>,
            <span class="tooltip" title="Gives you a regular income in your retirement">annuity</span>, or cash payments.
          </p>

          <p>The pension provider will also deduct any tax due on your State Pension.</p>

          <h3 id="if-you-continue-to-work">If you continue to work</h3>
          <p>
            Your employer will take any tax due off your earnings and your State Pension.
            This is called Pay As You Earn (PAYE).
          </p>

          <p>
            If you’re self-employed you have to fill in a <a href="https://www.gov.uk/self-assessment-tax-returns">Self-Assessment tax return</a>.
            You must declare your overall income, including the State Pension and any other private pensions, eg your workplace pension.
          </p>

          <h3 id="if-you-have-other-income">If you have other income</h3>
          <p>You’re responsible for paying tax on other income you have, eg from property or investments. You might have to fill in a  <a href="https://www.gov.uk/self-assessment-tax-returns">Self-Assessment tax return</a>.</p>

        </div>
      </article>
    </div>
  </div>
</div>

<div class="meta-data group">
  <p class="modified-date">Last updated: 28 November 2014</p>
</div>
