<% content_for :page_title do %>
  Understand your pension type
<% end %>

<div class="grid-wrapper">
  <div class="grid grid-2-3">
    <div class="inner-block">
      <article role="article" class="group text">
        <div id="govspeak">
          <h2 id="overview">Overview</h2>

          <p>
            A pension is a way to save money while you’re working to give you an
            income later in your life.
          </p>

          <p>
            You can get a pension from personal or workplace schemes you pay
            into and the government. The money you receive from your pension is known
            as retirement income.
          </p>

          <p>
            You can begin to take money from your pension when you retire and
            <a href="/what-you-can-do-with-your-pension-pot">you can choose how you take
              it</a>. This is the stage at which you have to make a decision about
            how you want to receive your retirement income.
          </p>

          <p>
            You don’t have to retire to take money from your pension.
            You can normally do this from the age of 55.
          </p>

          <h2 id="the-state-pension">The State Pension</h2>

          <p>
            The pension you get from the government is called the State Pension.
            You get it when you reach
            <a rel="external" href="https://www.gov.uk/calculate-state-pension">State
              Pension age</a>.
          </p>

          <p>
            The most you can currently get from the basic State Pension is
            £113.10 per week. You don’t normally get it automatically - you have to
            <a rel="external" href="https://www.gov.uk/state-pension/how-to-claim">claim
              the State Pension</a>.
          </p>

          <p>
            If you reach State Pension age on or after 6 April 2016 you’ll get the
            <a rel="external" href="https://www.gov.uk/new-state-pension">new
              State Pension</a>.
          </p>

          <h2 id="pension-types">Pension types</h2>

          <p>Along with the State Pension, there are 2 main types of
            pension:</p>

          <ul>
            <li>a pension based on how much has been paid into your pot (known
              as defined contribution)
            </li>
            <li>a pension based on your salary near retirement (known as defined
              benefit)
            </li>
          </ul>

          <h2 id="how-much-you-get">How much you get</h2>

          <p>For most pensions based on how much has been paid into your pot,
            what you get depends on:</p>

          <ul>
            <li>the amount you’ve paid in</li>
            <li>the length of time the money’s invested</li>
            <li>how well the pension fund’s investments have done</li>
          </ul>

          <p>For pensions based on your salary near retirement, how much you get
            depends on:</p>

          <ul>
            <li>the number of years you’ve worked for the employer</li>
            <li>your salary (this could be your final salary or your average
              salary across your career with the employer)
            </li>
            <li>a formula used by your employer to calculate your retirement
              income
            </li>
          </ul>
        </div>
      </article>
    </div>
  </div>
</div>

<div class="meta-data group">
  <p class="modified-date">Last updated: 28 November 2014</p>
</div>
