.DateSlider,
.SlotPicker-input,
.SlotPicker-choices,
.report-a-problem-toggle-wrapper,
.with-proposition #search {
  display:none;
}


header.page-header {
  position:relative;

  div.strapline {
    display:block;
    margin:0;
    padding:0;
    font-size:60%;
    color:#6f777b;
    font-weight: normal;
  }

  div.steps {
    margin:0;
    padding:0;
    //position:absolute;
    top:0px;
    color: #6F777B;
  }

  div h1 {
    padding-top:2px;
  }
}



header.page-header

.info-notice {
  background: none;
  border-left: 10px solid #bfc1c3;
  margin-bottom: 1em;
}


.indent {
  padding-left:20px;
}

.info-label {
  display:inline-block;
  width:10em;
}
.info-data {
  font-weight:bold;
}


.example strong  {
  font-weight:bold;
}

#wrapper {
  padding-bottom:0;
}

input[type="text"] {
  margin:0;
}

.report-a-problem-toggle-wrapper,
.report-a-problem-content,
.related-positioning,
#govspeak {
 text-align:left;
}


.where-to-start {
  padding-bottom:20px;

  h2 {
    margin-top:0;
    padding-top:0;
  }
}


.your-options {
  border-top:1px solid #bbb;
}

.your-options ol {
  width:40%;
  float:left;
}

.your-options__more {
  clear:both;
}

#footer.fat-footer {
  text-align:left;
  border-top: 10px solid #005ea5;
  margin-top:20px;

  .footer-categories {
    padding-bottom:0;
  }
}

#footer.group {
  border-top:none;
}
#footer.group .footer-categories {
  display:none;
}
#wrapper {
  border-bottom:none;
}


.divider {
  position: relative;
  margin: 1em 0;
  padding-top: 1em;
  border-top: 1px dashed #bfc1c3;

  h2 {
    margin-top:0;
  }
}

.divider--last {
  border-bottom: 1px dashed #bfc1c3;
}

.edit-link {
  margin-top:0;
  text-align: right;
}

.session-ticket {
  position:relative;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  padding-bottom:40px;
}

.session-ticket__highlight {
  background: #e7f2f8;
  border:1px solid #c5e3f5;
  padding:4px;
  display:inline-block;
}

.session-ticket__reference {
  position:absolute;
  top:0;
  right:0;
  border-left: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
  display:inline-block;
  padding: 0px 20px 10px 20px;

  h3 {

  }
}

.session-ticket_time-duration-wrapper {
  overflow:auto;
  zoom:1;
}

.session-ticket_time,
.session-ticket_duration {
  display:inline-block;
  float:left;
}

.session-ticket_time {
  margin-right:15px;
}

.session-intro {
  .print-link {
    float:right;
    margin-top:0;
  }
}

.pension-tool {
  margin-top:40px;
  overflow:auto;

  form {
    background: #dee0e2;
    padding:10px 20px 0 20px;
  }

  input {
    margin-right:10px;
  }

  button {
    padding: 0.3em 0.6em 0.2em 0.6em;
  }
}
