<% content_for :page_title do %>
  <%= @page_title %>
<% end %>

<% content_for :page_type do %>
  multi-page
<% end %>

<div class="article-container group">
  <aside>
    <div class="inner">
      <a href="#" class="show-all-parts">Show all parts of this guide</a>
      <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
        <%= erb :"articles/your_options/nav" %>
      </nav>
    </div>
  </aside>
  <article role="article" class="group">
    <div class="inner">

      <header><h1>1. <%= @your_option_page_title_1 %></h1>
      </header>
      <p>You can decide how to take the money from your pension pot when you retire.
        It doesn’t matter if your pot comes from a private pension that you set up yourself,
        a workplace pension you paid into, or both.</p>

      <p>To decide how you want your pension to be paid you should think about the following:</p>

      <ol class="steps">
        <li>How much do I have in my pot?</li>
        <li>How much will I need in retirement?</li>
        <li>How can I best use my money?</li>
      </ol>

      <p>There are different ways you can take the money from your pension pot.</p>

      <p>You can:</p>

      <ul>
        <li>take part or all of your pension pot as cash (lump sum)</li>
        <li>keep your pot invested while taking money from it (income drawdown)</li>
        <li>buy a regular income (annuity)</li>
      </ul>

      <div class="application-notice info-notice">
        <p>You can use a mixture of all 3 if you want.</p>
      </div>

      <footer>
        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul class="group">
            <li class="next">
              <a href="/your-options/2" rel="next" title="Navigate to next part">
                <span class="pagination-label">Next</span>
                <span class="pagination-part-title"><%= @your_option_page_title_2 %></span>
              </a></li>
          </ul>
        </nav>
      </footer>
      <div class="print-link">
        <a href="/after-a-death/print" rel="nofollow" target="_blank">Print
          entire guide</a></div>

    </div>
  </article>


  <div class="meta-data group">
    <!-- <div class="inner"> -->
    <p class="modified-date">Last updated: 11 September 2014</p>
    <!-- </div> -->
  </div>


</div>




