<% content_for :page_title do %>
  Book a free appointment with a pensions expert
<% end %>

<article role="article" class="group">
  <div class="inner-block text">
    <p>
      The appointment can help you understand what you can do with
      the money in your pension pot.
    </p>

    <p>You’ll talk about:</p>

    <ul>
      <li>the different ways you can take money from your pension pot</li>
      <li>what each option means for your size of pot and your circumstances</li>
      <li>what you have to do once you’ve made your choice</li>
    </ul>

    <p>
      After the appointment we’ll send you a <mark>[personalised summary](LINK TO EXAMPLE)</mark> of your pension options.
    </p>

    <p>
      All our experts are impartial and won’t recommend companies or tell you how to invest your money.
    </p>

    <h2 class="heading-medium">Who can book an appointment</h2>

    <p>You can book an appointment if:</p>

    <ul>
      <li>you’re planning to take money from your pension pot in the next 6 months</li>
      <li>you have a pension based on how much has been paid into your pot</li>
      <li>you’re close to or over 55</li>
    </ul>

    <div class="application-notice info-notice">
      <p>
        To get the most out of your appointment you'll need to know
        the value of your pension pots.
      </p>
    </div>

    <p class="get-started">
      <a rel="nofollow" href="/appointments/overview" class="big button">Start now</a>
    </p>

    <br/>

    <p>Otherwise, you can get guidance from:</p>
    <ul>
      <li><a rel="external" href="http://www.pensionsadvisoryservice.org.uk/">The
        Pensions Advisory Service</a></li>
      <li>
        <a rel="external" href="https://www.moneyadviceservice.org.uk/en?roptin=1">The
          Money Advice Service</a></li>
    </ul>
  </div>
</article>

