<% content_for :page_title do %>
  Pick a phone or face-to-face appointment
<% end %>

<article role="article" class="group">
  <div class="inner-block text">
    <p>
      You can book one appointment per person. It can either be on the phone or face to face.
      The standard of guidance is the same for both.
    </p>

    <h2>Phone</h2>

    <p>
      You’ll speak to an expert from the Pensions Advisory Service at the date and time you book.
    </p>

    <p>Calls last up to 45 minutes.</p>

    <p>Current waiting time: 3 weeks</p>

    <p class="get-started">
      <a rel="nofollow" href="/appointments/phone/availability" class="big button">Book a phone appointment</a>
    </p>

    <h2>Face to face</h2>

    <p>
      You’ll meet with a pensions expert at a branch of the Citizens Advice Bureau.
      Not all branches offer appointments.
    </p>

    <p>Current waiting time: 6 weeks</p>

    <form action="/appointments/face-to-face/search" method="get" class="form">
      <div class="form-group">
        <!--<label class="form-label-bold" for="postcode">Find a branch near you</label>-->
        <p class="form-hint"><strong>Search for a postcode</strong></p>
        <input type="text" class="form-control-1-8" id="postcode" name="postcode">
        <span class="get-started">
        <input type="submit" class="big button" value="Find a local branch">
        </span>
      </div>
    </form>
  </div>

</article>
