<% content_for :proposition do %>
  <%= erb :"partials/proposition_static" %>
<% end %>

<% content_for :page_title do %>
  Pension scams and complaints
<% end %>

<div class="grid-wrapper grid-demo">
  <div class="grid grid-2-3">
    <div class="inner-block text">
      <p>Find out what pension scams look like, what financial protection you
        have and who you can make a complaint to</p>

      <ul class="category-articles">
        <li><a href="#insert" class="bold-small">How to make a pension complaint</a></li>
        <li><a href="#insert" class="bold-small">How to avoid pension scams</a></li>
      </ul>
    </div>
  </div>
</div>
