<% content_for :proposition do %>
  <%= erb :"partials/proposition_static" %>
<% end %>

<% content_for :page_title do %>
  Your pension pot
<% end %>

<div class="grid-wrapper grid-demo">
  <div class="grid grid-2-3">
    <div class="inner-block text">
      <p>There are 2 main types of pension. How much you get depends on things such as the amount you’ve paid in and your age when you started it.</p>

      <ul class="category-articles">
        <li><a href="/understanding-pensions/1" class="bold-small">Understand your pension type</a></li>
        <li><a href="/how-much-in-your-pot" class="bold-small">Find out how much you have</a></li>
      </ul>
    </div>
  </div>
</div>

