<% content_for :proposition do %>
  <%= erb :"partials/proposition_static" %>
<% end %>

<% content_for :page_title do %>
  Your pension options
<% end %>

<div class="grid-wrapper grid-demo">
  <div class="grid grid-2-3">
    <div class="inner-block text">
      <p>There are different ways you can take the money from your pension pot
        when you retire. You’ll pay tax on everything above your tax-free lump sum of 25%.</p>

      <ul class="category-articles">
        <li><a href="/your-options/overview" class="bold-small">Ways to take your pension money</a></li>
        <li><a href="/tax-on-your-pension/1" class="bold-small">Tax you pay on your pension</a></li>
        <li><a href="/pension-tax-calculator" class="bold-small">Pension tax calculator</a></li>
        <li><a href="#insert" class="bold-small">Shop around for the best deal</a></li>
      </ul>

    </div>
  </div>
</div>
