<% content_for :proposition do %>
  <%= erb :"partials/proposition_static" %>
<% end %>

<% content_for :page_title do %>
  Your retirement income
<% end %>

<div class="grid-wrapper grid-demo">
  <div class="grid grid-2-3">
    <div class="inner-block text">
      <p>Calculate how much you need in retirement based on your total income</p>

      <ul class="category-articles">
        <li><a href="#insert" class="bold-small">Calculate your retirement income</a></li>
        <li><a href="#insert" class="bold-small">Plan how long your money needs to last</a></li>
      </ul>
    </div>
  </div>
</div>
