<% content_for :proposition do %>
  <%= erb :"partials/proposition" %>
<% end %>

<% content_for :page_title do %>
  Pick a date and time
<% end %>

<link rel="stylesheet" href="/stylesheets/moj.slot-picker.css" />
<link rel="stylesheet" href="/stylesheets/moj.date-slider.css" />

<div class="inner-block">
  <div class="text">
    <p>
      Sessions last up to 45 minutes. You can book a session between 9am and 5pm where available.
    </p>
  </div>
</div>


<script type="text/html" id="SlotPicker-tmplDay">
  <li class="SlotPicker-day" id="date-{{ slot }}">
    <h2 class="SlotPicker-dayTitle">{{ date }}</h2>
    {{#if oneSlot}}
      <p class="SlotPicker-dayOneSlot">Only one time is available on this day, select it to continue</p>
    {{/if}}
    {{{ slots }}}
  </li>
</script>

<script type="text/html" id="SlotPicker-tmplTimeSlot">
  <label class="SlotPicker-label" for="slot-{{ slot }}">
    <input class="SlotPicker-slot" type="checkbox" value="{{ slot }}" id="slot-{{ slot }}">
    <strong class="SlotPicker-time">{{ time }}</strong>
    <span class="SlotPicker-duration">{{ duration }}</span>
  </label>
</script>

<script type="text/html" id="BookingCalendar-tmplRow">
  <tr>
    {{{ cells }}}
  </tr>
</script>

<script type="text/html" id="BookingCalendar-tmplDate">
  <td class="{{ klass }}">
    <div class="BookingCalendar-content">
      <a class="BookingCalendar-dateLink" data-date="{{ date }}" href="#date-{{ date }}">
        <span class="BookingCalendar-day">{{ day }}</span>
        {{#if today}}
          <span class="BookingCalendar-tag BookingCalendar-tag--today">Today</span>
        {{/if}}
        {{#if newMonth}}
          <span class="BookingCalendar-tag" id="month-{{ monthIso }}">{{ monthShort }}</span>
        {{/if}}
      </a>
    </div>
  </td>
</script>

<script type="text/html" id="BookingCalendar-tmplNav">
  {{ monthAbr }}<span class="BookingCalendar-navFull">{{ monthRemaining }}</span>
</script>

<script type="text/html" id="SlotPicker-tmplChoice">
  <div class="SlotPicker-choice">
    <div class="SlotPicker-choiceInner">
      <div class="SlotPicker-position"><span>{{ num }}</span></div>
      <div class="SlotPicker-choiceContent">
        <p class="SlotPicker-date"></p>
        <p class="SlotPicker-time"></p>
      </div>
      <p class="SlotPicker-prompt">Choose a date and time from the calendar</p>
      {{#unless first}}
        <a class="SlotPicker-icon SlotPicker-icon--promote" href="#">Promote</a>
      {{/unless}}
      <a class="SlotPicker-icon SlotPicker-icon--remove" href="#">Remove</a>
    </div>
  </div>
  {{#if first}}
    <!--<p>Choose two alternative dates in case your first choice isn’t available.</p>-->
  {{/if}}
</script>

<script type="text/html" id="DateSlider-tmplDay">
  <li data-date="{{ isoDate }}" class="{{ klass }}">
    {{#if dayLabel}}
      <small>{{ weekDay }}</small>
    {{/if}}
    {{ day }}
  </li>
</script>

<script type="text/html" id="DateSlider-tmplMonth">
  <span data-date="{{ yearMonth }}">{{ month }}</span>
</script>


<div class="SlotPicker" data-today="2014-03-13">

  <div class="DateSlider" data-emulatetouch="true" data-selectonload="true">
    <div class="DateSlider-month"></div>

    <div class="DateSlider-sliders">
      <a href="#" class="DateSlider-button DateSlider-buttonLeft">&#10094;</a>
      <a href="#" class="DateSlider-button DateSlider-buttonRight">&#10095;</a>

      <div class="DateSlider-smallDates scroll">
        <ol class="DateSlider-days"></ol>
      </div>

      <div class="DateSlider-touch scroll">
        <ol class="DateSlider-days"></ol>
      </div>

      <div class="DateSlider-portalFrame"></div>

      <div class="DateSlider-largeDates scroll">
        <ol class="DateSlider-days"></ol>
      </div>
    </div>
  </div>

  <div class="grid-wrapper">
    <div class="grid grid-1-2">
      <div class="inner-block">
        <div class="BookingCalendar">

          <div class="BookingCalendar-header">
            <a href="#" class="BookingCalendar-nav BookingCalendar-nav--prev"></a>
            <strong class="BookingCalendar-currentMonth"></strong>
            <a href="#" class="BookingCalendar-nav BookingCalendar-nav--next"></a>
          </div>

          <table class="BookingCalendar-dates">
            <thead>
            <tr>
              <th>Mon</th>
              <th>Tue</th>
              <th>Wed</th>
              <th>Thu</th>
              <th>Fri</th>
              <th>Sat</th>
              <th>Sun</th>
            </tr>
            </thead>
          </table>

          <div class="BookingCalendar-mask">
            <table class="BookingCalendar-dates">
              <tbody class="BookingCalendar-datesBody">
              </tbody>
            </table>
          </div>

          <ul class="BookingCalendar-legend">
            <li>
              <span class="BookingCalendar-legendBox"></span>
              <p class="BookingCalendar-legendDesc">Available</p>
            </li>
            <li>
              <span class="BookingCalendar-legendBox BookingCalendar-legendBox--unavailable"></span>
              <p class="BookingCalendar-legendDesc">Fully booked or closed</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="grid grid-1-2">
      <div class="inner-block">
        <div class="SlotPicker-timeSlots">
          <ul class="SlotPicker-days">
            <li class="SlotPicker-day SlotPicker-day--past">
              <h2 class="SlotPicker-dayTitle"></h2>
              <p>It is not possible to book a session in the past.</p>
            </li>
            <li class="SlotPicker-day SlotPicker-day--unavailable">
              <h2 class="SlotPicker-dayTitle"></h2>
              <p>All sessions for this day are booked.</p>
            </li>
            <li class="SlotPicker-day SlotPicker-day--beyond">
              <h2 class="SlotPicker-dayTitle"></h2>
              <p>You can only book a session in the next {{ daysInRange }} days.</p>
            </li>
            <li class="SlotPicker-day SlotPicker-day--leadtime">
              <h2 class="SlotPicker-dayTitle"></h2>
              <p>You can only book a session 3 days in advance.</p>
            </li>
          </ul>
        </div>

        <div class="SlotPicker-choices">
          <p class="SlotPicker-promoteHelp">Use the arrows to put your session choices in the order that suits you best.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="inner-block">
    <form action="/appointments/phone/book" method="post" class="form">
        <select name="slots[]" class="SlotPicker-input">
          <option value="">none</option>
          <option value="2014-11-03-1000-1045">Monday, 3 November -  10:00am</option>
          <option value="2014-11-03-1100-1145">Monday, 3 November -  12:00am</option>
          <option value="2014-11-03-1200-1245">Monday, 3 November -  3:00pm</option>
          <option value="2014-11-03-1300-1345">Monday, 3 November -  4:00pm</option>

          <option value="2014-11-04-1000-1045">Tuesday, 4 November -  10:00am</option>
          <option value="2014-11-04-1300-1345">Tuesday, 4 November -  1:00pm</option>
          <option value="2014-11-04-1600-1645">Tuesday, 4 November -  4:00pm</option>

          <option value="2014-11-05-1000-1045">Wednesday, 5 November -  10:00am</option>
          <option value="2014-11-05-1100-1145">Wednesday, 5 November -  11:00am</option>
          <option value="2014-11-05-1300-1345">Wednesday, 5 November -  1:00pm</option>
          <option value="2014-11-05-1400-1445">Wednesday, 5 November -  2:00pm</option>
          <option value="2014-11-05-1500-1545">Wednesday, 5 November -  3:00pm</option>
          <option value="2014-11-05-1600-1645">Wednesday, 5 November -  4:00pm</option>

          <option value="2014-11-06-1500-1545">Thursday, 6 November -  3:00pm</option>

          <option value="2014-11-10-1000-1045">Monday, 10 November -  10:00am</option>
          <option value="2014-11-10-1100-1145">Monday, 10 November -  11:00am</option>
          <option value="2014-11-10-1400-1445">Monday, 10 November -  2:00pm</option>
          <option value="2014-11-10-1500-1545">Monday, 10 November -  3:00pm</option>
          <option value="2014-11-10-1600-1645">Monday, 10 November -  4:00pm</option>

          <option value="2014-11-11-1000-1045">Tuesday, 11 November -  10:00am</option>
          <option value="2014-11-11-1400-1445">Tuesday, 11 November -  2:00pm</option>
          <option value="2014-11-11-1500-1545">Tuesday, 11 November -  3:00pm</option>

          <option value="2014-11-12-1000-1045">Wednesday, 12 November -  10:00am</option>
          <option value="2014-11-12-1100-1145">Wednesday, 12 November -  11:00am</option>
          <option value="2014-11-12-1300-1345">Wednesday, 12 November -  1:00pm</option>
          <option value="2014-11-12-1400-1445">Wednesday, 12 November -  2:00pm</option>
          <option value="2014-11-12-1500-1545">Wednesday, 12 November -  3:00pm</option>
          <option value="2014-11-12-1600-1645">Wednesday, 12 November -  4:00pm</option>

          <option value="2014-11-13-1100-1145">Thursday, 13 November -  11:00am</option>

          <option value="2014-11-14-1000-1045">Friday, 14 November -  10:00am</option>
          <option value="2014-11-14-1100-1145">Friday, 14 November -  11:00am</option>
          <option value="2014-11-14-1200-1245">Friday, 14 November -  12:00am</option>
          <option value="2014-11-14-1300-1345">Friday, 14 November -  1:00pm</option>

          <option value="2014-11-17-1000-1045">Monday, 17 November -  10:00am</option>
          <option value="2014-11-21-1100-1145">Friday, 21 November -  11:00am</option>
          <option value="2014-11-26-1100-1145">Wednesday, 26 November -  11:00am</option>
          <option value="2014-12-01-1600-1645">Tuesday, 1 December -  4:00pm</option>
          <option value="2014-12-17-1600-1645">Wednesday, 17 December -  4:00pm</option>
        </select>
      <div class="form-group">
        <input type="submit" class="button" value="Continue">
      </div>
    </form>
  </div>
</div>

<script src="/vendor/modernizr.custom.85598.js"></script>
<script src="/vendor/jquery-1.11.0.js"></script>
<script src="/vendor/handlebars-v1.3.0.js"></script>

<script>var moj = moj || { Modules: {}, Helpers: {} };</script>
<script src="/javascripts/moj.slot-picker.js"></script>
<script src="/javascripts/moj.date-slider.js"></script>
<script>moj.Modules.SlotPicker.init();</script>
<script>moj.Modules.DateSlider.init();</script>

<script>

  // Test select fields have been populated
  $('#displayOutput').on('click', function(e) {
    e.preventDefault();
    var values = $('select').map(function() {
      return $(this).val();
    }).get();
    alert(values);
  });

</script>
