<% content_for :page_title do %>
  Your options
<% end %>

<% content_for :page_type do %>
  multi-page
<% end %>


<div class="article-container group">
  <aside>
    <div class="inner">
      <a href="#" class="show-all-parts">Show all parts of this guide</a>
      <nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">
        <ol>
          <li class="active">
            <span class="part-number">1.</span>
            <span>Overview</span>
          </li>
          <li>
            <span class="part-number">2.</span>
            <a href="/insert">
              insert
            </a>
          </li>
        </ol>
        <ol start="3">
          <li>
            <span class="part-number">3.</span>
            <a href="/insert">
              insert
            </a>
          </li>
          <li>
            <span class="part-number">4.</span>
            <a href="/insert">
              insert
            </a>
          </li>
        </ol>
      </nav>
    </div>
  </aside>
  <article role="article" class="group">
    <div class="inner">

      <header><h1>2. insert</h1>
      </header>
      <p>Foo bah</p>

      <footer>
        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul class="group">
            <li class="previous">
              <a href="/your-options/overview" rel="prev" title="Navigate to previous part">
                <span class="pagination-label">Previous </span>
                <span class="pagination-part-title">Overview</span>
              </a></li>
            <li class="next">
              <a href="/your options/3" rel="next" title="Navigate to next part">
                <span class="pagination-label">Next</span>
                <span class="pagination-part-title">Insert</span>
              </a></li>
          </ul>
        </nav>
      </footer>

      <div class="print-link">
        <a href="/after-a-death/print" rel="nofollow" target="_blank">Print
          entire guide</a></div>

    </div>
  </article>


  <div class="meta-data group">
    <!-- <div class="inner"> -->
    <p class="modified-date">Last updated: 11 September 2014</p>
    <!-- </div> -->
  </div>


</div>
